<section class="clinic">
    <div class="clinic__bg">
        <picture>
            <source srcset="/images/clinic/bg-mobile.webp" media="(width <= 640px)" />
            <img src="/images/clinic/bg.webp" alt="">
        </picture>
    </div>
    <div class="clinic__content">
        <h2 class="clinic__large-heading">
            Клиника факт
        </h2>
        <h3 class="clinic__subheading">
            Современный<br>
            офтальмологический центр в Пятигорске
        </h3>
        <div class="clinic__card">
            <div class="clinic__card-left">
                <h3 class="clinic__card-title">
                    Клиника Факт — это индивидуальный подход к каждому
                </h3>
                <div class="clinic__card-desc">
                    забота о здоровье глаз, комфортные условия и сопровождение на каждом этапе лечения. Доверяйте зрение
                    профессионалам!
                </div>
            </div>
            <div class="clinic__card-right">
                <div class="clinic__card-text">
                    <p>
                        Наша клиника специализируется на диагностике, лечении и профилактике заболеваний глаз как у
                        взрослых, так и у детей. Врачи-офтальмологи центра Факт обладают большим опытом и постоянно
                        совершенствуют квалификацию, внедряя в практику новейшие мировые технологии.
                    </p>
                    <p>
                        Диагностическое отделение оснащено передовым оборудованием: оптическая когерентная томография,
                        цифровая рефрактометрия, автотонометрия, ультразвуковая биометрия, компьютерная периметрия — все
                        для
                        постановки точного диагноза и индивидуального подбора лечения.
                    </p>
                    <p>
                        В клинике Факт доступны все современные виды лазерной коррекции зрения (лазерная коррекция
                        близорукости, дальнозоркости, астигматизма), микрохирургия катаракты с имплантацией
                        мультифокальных и торических линз, лечение глаукомы различными лазерными и хирургическими
                        методами.
                    </p>
                    <p>
                        Наши офтальмологи проводят сложные витреоретинальные операции при патологиях сетчатки и
                        стекловидного тела, выполняют пластические операции на веках, устраняют косоглазие и проводят
                        лечение макулодистрофии.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>