<section class="doctors">
    <div class="doctors__content">
        <h2 class="h2 doctors__title">
            Наши врачи
        </h2>
        <div class="h4 doctors__subtitle">
            С заботой о вашем зрении
        </div>
        <div class="doctors__row">
            <div class="tabs-nav">
                <ul class="tabs-nav__list">
                    <li class="tabs-nav__list-item">
                        <button class="tabs-nav__btn active" type="button">
                            Все клиники
                        </button>
                    </li>
                    <li class="tabs-nav__list-item">
                        <button class="tabs-nav__btn" type="button">
                            Пятигорск
                        </button>
                    </li>
                    <li class="tabs-nav__list-item">
                        <button class="tabs-nav__btn" type="button">
                            Краснодар
                        </button>
                    </li>
                </ul>
            </div>
            <div class="slider-nav doctors__slider-nav">
                <button class="slider-nav__arrow slider-nav__arrow--prev" type="button">
                    <svg width="14" height="14" aria-hidden="true">
                        <use xlink:href="#arrow-left"></use>
                    </svg>
                </button>
                <button class="slider-nav__arrow slider-nav__arrow--next" type="button">
                    <svg width="14" height="14" aria-hidden="true">
                        <use xlink:href="#arrow-right"></use>
                    </svg>
                </button>
            </div>
        </div>
        <div class="doctors__tabs">
            <div class="doctors__tabs-item">
                <div class="doctors__slider">
                    <div class="swiper">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <a href="#" class="doctor-card">
                                    <div class="doctor-card__image-container">
                                        <img src="/images/doctors/1.webp" alt="">
                                        <div class="doctor-card__info">
                                            <div class="doctor-card__experience">
                                                <div class="doctor-card__experience-value">
                                                    30 лет
                                                </div>
                                                <div class="doctor-card__experience-key">
                                                    стаж работы
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="doctor-card__content">
                                        <h3 class="doctor-card__name">
                                            Михневич Константин Викторович
                                        </h3>
                                        <div class="doctor-card__position">
                                            Главный врач. <br>Врач-офтальмолог
                                        </div>
                                        <div class="btn btn--green doctor-card__btn">
                                            Записаться
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="#" class="doctor-card">
                                    <div class="doctor-card__image-container">
                                        <img src="/images/doctors/2.webp" alt="">
                                        <div class="doctor-card__info">
                                            <div class="doctor-card__experience">
                                                <div class="doctor-card__experience-value">
                                                    14 лет
                                                </div>
                                                <div class="doctor-card__experience-key">
                                                    стаж работы
                                                </div>
                                            </div>
                                            <div class="doctor-card__award">
                                                <img src="/images/first-place.svg" alt="">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="doctor-card__content">
                                        <h3 class="doctor-card__name">
                                            Труфанов Сергей Владимирович
                                        </h3>
                                        <div class="doctor-card__position">
                                            Врач-офтальмолог,<br> врач высшей категории, доктор<br> медицинских наук
                                        </div>
                                        <div class="btn btn--green doctor-card__btn">
                                            Записаться
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="#" class="doctor-card">
                                    <div class="doctor-card__image-container">
                                        <img src="/images/doctors/3.webp" alt="">
                                        <div class="doctor-card__info">
                                            <div class="doctor-card__experience">
                                                <div class="doctor-card__experience-value">
                                                    18 лет
                                                </div>
                                                <div class="doctor-card__experience-key">
                                                    стаж работы
                                                </div>
                                            </div>
                                            <div class="doctor-card__award">
                                                <img src="/images/first-place.svg" alt="">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="doctor-card__content">
                                        <h3 class="doctor-card__name">
                                            Рикс Инна Александровна
                                        </h3>
                                        <div class="doctor-card__position">
                                            Врач-офтальмолог,<br> врач высшей категории, кандидат<br> медицинских наук
                                        </div>
                                        <div class="btn btn--green doctor-card__btn">
                                            Записаться
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="#" class="doctor-card">
                                    <div class="doctor-card__image-container">
                                        <img src="/images/doctors/1.webp" alt="">
                                        <div class="doctor-card__info">
                                            <div class="doctor-card__experience">
                                                <div class="doctor-card__experience-value">
                                                    30 лет
                                                </div>
                                                <div class="doctor-card__experience-key">
                                                    стаж работы
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="doctor-card__content">
                                        <h3 class="doctor-card__name">
                                            Михневич Константин Викторович
                                        </h3>
                                        <div class="doctor-card__position">
                                            Главный врач. <br>Врач-офтальмолог
                                        </div>
                                        <div class="btn btn--green doctor-card__btn">
                                            Записаться
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>