<section class="equipment">
    <div class="equipment__content">
        <div class="equipment__slider">
            <div class="swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="equipment-card">
                            <img src="/images/equipment/1.webp" alt="">
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="equipment-card">
                            <img src="/images/equipment/2.webp" alt="">
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="equipment-card">
                            <img src="/images/equipment/3.webp" alt="">
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="equipment-card">
                            <img src="/images/equipment/4.webp" alt="">
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="equipment-card">
                            <img src="/images/equipment/5.webp" alt="">
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="equipment-card">
                            <img src="/images/equipment/6.webp" alt="">
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="equipment-card">
                            <img src="/images/equipment/1.webp" alt="">
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="equipment-card">
                            <img src="/images/equipment/2.webp" alt="">
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="equipment-card">
                            <img src="/images/equipment/3.webp" alt="">
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="equipment-card">
                            <img src="/images/equipment/4.webp" alt="">
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="equipment-card">
                            <img src="/images/equipment/5.webp" alt="">
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="equipment-card">
                            <img src="/images/equipment/6.webp" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <h2 class="equipment__large-heading">
            Оборудование
        </h2>
        <h3 class="equipment__subheading">
            Исключительная безопасность хирургического лечения
        </h3>
        <ul class="equipment__features-list">
            <li class="equipment__features-list-item">
                <a href="#" class="equipment-feature-card">
                    <div class="equipment-feature-card__bg">
                        <img src="/images/equipment/feature.webp" alt="">
                    </div>
                    <div class="equipment-feature-card__title">
                        Сертификаты
                    </div>
                    <div class="equipment-feature-card__desc">
                        Сертифицированное новое оборудование, регулярное проведение ТО
                    </div>
                </a>
            </li>
            <li class="equipment__features-list-item">
                <a href="#" class="equipment-feature-card">
                    <div class="equipment-feature-card__bg">
                        <img src="/images/equipment/feature.webp" alt="">
                    </div>
                    <div class="equipment-feature-card__title">
                        операционная
                    </div>
                    <div class="equipment-feature-card__desc">
                        Сертифицированное новое оборудование, регулярное проведение ТО
                    </div>
                </a>
            </li>
            <li class="equipment__features-list-item">
                <a href="#" class="equipment-feature-card">
                    <div class="equipment-feature-card__bg">
                        <img src="/images/equipment/feature.webp" alt="">
                    </div>
                    <div class="equipment-feature-card__title">
                        одноразовые инструменты
                    </div>
                    <div class="equipment-feature-card__desc">
                        Сертифицированные одноразовые расходные инструменты
                    </div>
                </a>
            </li>
            <li class="equipment__features-list-item">
                <a href="#" class="equipment-feature-card">
                    <div class="equipment-feature-card__bg">
                        <img src="/images/equipment/feature.webp" alt="">
                    </div>
                    <div class="equipment-feature-card__title">
                        Программное обеспечение
                    </div>
                    <div class="equipment-feature-card__desc">
                        Сертифицированное программное обеспечение
                    </div>
                </a>
            </li>
        </ul>
    </div>
</section>