<section class="faq">
    <div class="faq__content">
        <div class="faq__left">
            <div class="h4 faq__subtitle">
                Отвечаем на самые частые вопросы наших пациентов
            </div>
            <h2 class="h2 faq__heading">
                вопрос-ответ
            </h2>
            <div class="faq__doctor">
                <div class="faq__doctor-photo-container">
                    <img src="/images/faq/doctor.webp" alt="">
                </div>
                <div class="faq__doctor-content">
                    <div class="faq__doctor-name">
                        Михневич Константин Викторович
                    </div>
                    <div class="faq__doctor-position">
                        Главный врач клиники Факт
                    </div>
                </div>
            </div>
            <div class="faq__contact-us">
                <h4 class="h4 faq__contact-us-title">
                    Не нашли свой вопрос? Свяжитесь с нами
                </h4>
                <div class="faq__contact-us-row">
                    <a href="tel:+79999999999" class="faq__contact-us-phone">+7 (999) 999-99-99</a>
                    <a href="#" class="faq__contact-us-messenger">
                        <svg width="24" height="24" aria-hidden="true">
                            <use xlink:href="#whatsapp"></use>
                        </svg>
                    </a>
                </div>
            </div>
        </div>
        <div class="faq__right">
            <ul class="faq__list">
                <li class="faq__list-item">
                    <div class="accordion">
                        <button class="accordion__btn" type="button">
                            <span class="accordion__btn-text">
                                Можно ли прийти на обследование в контактных линзах?
                            </span>
                            <span class="accordion__btn-arrow">
                                <svg width="24" height="24" aria-hidden="true">
                                    <use xlink:href="#arrow-down"></use>
                                </svg>
                            </span>
                        </button>
                        <div class="accordion__dropdown">
                            <div class="accordion__dropdown-inner">
                                <div class="accordion__text">
                                    В день обследования лучше отказаться от ношения контактных линз.
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="faq__list-item">
                    <div class="accordion">
                        <button class="accordion__btn" type="button">
                            <span class="accordion__btn-text">
                                Если обследование проходили в другой клинике, можно ли по ним получить консультацию у
                                вашего хирурга?
                            </span>
                            <span class="accordion__btn-arrow">
                                <svg width="24" height="24" aria-hidden="true">
                                    <use xlink:href="#arrow-down"></use>
                                </svg>
                            </span>
                        </button>
                        <div class="accordion__dropdown">
                            <div class="accordion__dropdown-inner">
                                <div class="accordion__text">
                                    В день обследования лучше отказаться от ношения контактных линз.
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="faq__list-item">
                    <div class="accordion">
                        <button class="accordion__btn" type="button">
                            <span class="accordion__btn-text">
                                Как провести диагностическое обследование, если у ребенка нарушение ЦНС и он очень
                                беспокойно себя ведет?
                            </span>
                            <span class="accordion__btn-arrow">
                                <svg width="24" height="24" aria-hidden="true">
                                    <use xlink:href="#arrow-down"></use>
                                </svg>
                            </span>
                        </button>
                        <div class="accordion__dropdown">
                            <div class="accordion__dropdown-inner">
                                <div class="accordion__text">
                                    В день обследования лучше отказаться от ношения контактных линз.
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="faq__list-item">
                    <div class="accordion">
                        <button class="accordion__btn" type="button">
                            <span class="accordion__btn-text">
                                В каком возрасте можно оперировать врожденную катаракту?
                            </span>
                            <span class="accordion__btn-arrow">
                                <svg width="24" height="24" aria-hidden="true">
                                    <use xlink:href="#arrow-down"></use>
                                </svg>
                            </span>
                        </button>
                        <div class="accordion__dropdown">
                            <div class="accordion__dropdown-inner">
                                <div class="accordion__text">
                                    В день обследования лучше отказаться от ношения контактных линз.
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="faq__list-item">
                    <div class="accordion">
                        <button class="accordion__btn" type="button">
                            <span class="accordion__btn-text">
                                Какой метод коррекции зрения самый эффективный?
                            </span>
                            <span class="accordion__btn-arrow">
                                <svg width="24" height="24" aria-hidden="true">
                                    <use xlink:href="#arrow-down"></use>
                                </svg>
                            </span>
                        </button>
                        <div class="accordion__dropdown">
                            <div class="accordion__dropdown-inner">
                                <div class="accordion__text">
                                    В день обследования лучше отказаться от ношения контактных линз.
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="faq__list-item">
                    <div class="accordion">
                        <button class="accordion__btn" type="button">
                            <span class="accordion__btn-text">
                                Мне 47 лет, можно ли еще проводить коррекцию зрения?
                            </span>
                            <span class="accordion__btn-arrow">
                                <svg width="24" height="24" aria-hidden="true">
                                    <use xlink:href="#arrow-down"></use>
                                </svg>
                            </span>
                        </button>
                        <div class="accordion__dropdown">
                            <div class="accordion__dropdown-inner">
                                <div class="accordion__text">
                                    В день обследования лучше отказаться от ношения контактных линз.
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>