<footer class="page-footer">
    <div class="page-footer__content">
        <a href="#" class="page-footer__version">
            Версия для слабовидящих
        </a>
        <div class="page-footer__top">
            <div class="page-footer__contacts">
                <div class="page-footer__schedule">
                    Ежедневно с 8:30 до 19:00
                </div>
                <ul class="page-footer__contacts-list">
                    <li class="page-footer__contacts-list-item">
                        <div class="page-footer__contacts-card">
                            <div class="page-footer__contacts-card-key">
                                г. Пятигорск,<br>
                                ул. Московская 105
                            </div>
                            <div class="page-footer__contacts-card-value">
                                смотреть на карте
                            </div>
                        </div>
                    </li>
                    <li class="page-footer__contacts-list-item">
                        <div class="page-footer__contacts-card">
                            <div class="page-footer__contacts-card-key">
                                8 800 333—4603
                            </div>
                            <a href="tel:+78003334603" class="page-footer__contacts-card-value">
                                Обратный звонок
                            </a>
                        </div>
                    </li>
                    <li class="page-footer__contacts-list-item">
                        <div class="page-footer__contacts-card">
                            <div class="page-footer__contacts-card-key">
                                mng@factmed.ru
                            </div>
                            <a href="mailto:mng@factmed.ru" class="page-footer__contacts-card-value">
                                написать письмо
                            </a>
                        </div>
                    </li>
                </ul>
            </div>
            <nav class="page-footer__nav">
                <ul class="page-footer__nav-list">
                    <li class="page-footer__nav-list-item">
                        <a href="#" class="page-footer__nav-link">
                            О клинике
                        </a>
                    </li>
                    <li class="page-footer__nav-list-item">
                        <a href="#" class="page-footer__nav-link">
                            Диагностика
                        </a>
                    </li>
                    <li class="page-footer__nav-list-item">
                        <a href="#" class="page-footer__nav-link">
                            Врачи
                        </a>
                    </li>
                    <li class="page-footer__nav-list-item">
                        <a href="#" class="page-footer__nav-link">
                            детское отделение
                        </a>
                    </li>
                    <li class="page-footer__nav-list-item">
                        <a href="#" class="page-footer__nav-link">
                            Цены
                        </a>
                    </li>
                    <li class="page-footer__nav-list-item">
                        <a href="#" class="page-footer__nav-link">
                            лазерная коррекция
                        </a>
                    </li>
                    <li class="page-footer__nav-list-item">
                        <a href="#" class="page-footer__nav-link">
                            Отзывы
                        </a>
                    </li>
                    <li class="page-footer__nav-list-item">
                        <a href="#" class="page-footer__nav-link">
                            глаукома
                        </a>
                    </li>
                    <li class="page-footer__nav-list-item">
                        <a href="#" class="page-footer__nav-link">
                            Статьи
                        </a>
                    </li>
                    <li class="page-footer__nav-list-item">
                        <a href="#" class="page-footer__nav-link">
                            катаракта
                        </a>
                    </li>
                    <li class="page-footer__nav-list-item">
                        <a href="#" class="page-footer__nav-link">
                            Лицензии
                        </a>
                    </li>
                    <li class="page-footer__nav-list-item">
                        <a href="#" class="page-footer__nav-link">
                            кератоконус
                        </a>
                    </li>
                    <li class="page-footer__nav-list-item">
                        <a href="#" class="page-footer__nav-link">
                            Контакты
                        </a>
                    </li>
                    <li class="page-footer__nav-list-item">
                        <a href="#" class="page-footer__nav-link">
                            окулопластика
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="page-footer__middle">
            <a href="/" class="page-footer__logo">
                <img src="/images/logo.svg" alt="">
            </a>
            <div class="page-footer__slogan">
                <p>
                    Факт — офтальмологическая клиника.
                </p>
                <p>
                    Делаем мир ярче для каждого<br> пациента на протяжении 8 лет.
                </p>
            </div>
            <div class="page-footer__social">
                <ul class="page-footer__social-write-list">
                    <li class="page-footer__social-write-list-item">
                        <a href="#" class="page-footer__social-write-link">
                            <svg width="14" height="14" aria-hidden="true">
                                <use xlink:href="#whatsapp"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="page-footer__social-write-list-item">
                        <a href="#" class="page-footer__social-write-link">
                            <svg width="14" height="14" aria-hidden="true">
                                <use xlink:href="#telegram"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="page-footer__social-write-list-item">
                        <a href="#" class="page-footer__social-write-link">
                            <svg width="14" height="14" aria-hidden="true">
                                <use xlink:href="#max"></use>
                            </svg>
                        </a>
                    </li>
                </ul>
                <ul class="page-footer__social-media-list">
                    <li class="page-footer__social-media-list-item">
                        <a href="#" class="page-footer__social-media-link">
                            <svg width="14" height="14" aria-hidden="true">
                                <use xlink:href="#rutube"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="page-footer__social-media-list-item">
                        <a href="#" class="page-footer__social-media-link">
                            <svg width="14" height="14" aria-hidden="true">
                                <use xlink:href="#youtube"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="page-footer__social-media-list-item">
                        <a href="#" class="page-footer__social-media-link">
                            <svg width="14" height="14" aria-hidden="true">
                                <use xlink:href="#telegram"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="page-footer__social-media-list-item">
                        <a href="#" class="page-footer__social-media-link">
                            <svg width="14" height="14" aria-hidden="true">
                                <use xlink:href="#vk"></use>
                            </svg>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="page-footer__bottom">
            <div class="page-footer__copyright">
                © ФАКТ, 2025. Все права защищены.<br>
                Лицензия №Л041-01197-26/00380702
            </div>
            <div class="page-footer__links">
                <a href="#" class="page-footer__link">
                    Политика конфиденциальности
                </a>
                <a href="#" class="page-footer__link">
                    Политика обработки персональных данных
                </a>
            </div>
            <a href="https://markweber.ru/" class="page-footer__made-by" target="_blank">
                <img src="/images/logo.svg" alt="Mark Weber">
                Дизайн и разработка<br>
                сайта — Mark Weber
            </a>
        </div>
    </div>
</footer>