<header class="page-header">
    <div class="page-header__content">
        <div class="page-header__top">
            <a href="#" class="page-header__version">
                Версия для слабовидящих
                <svg width="14" height="14" aria-hidden="true">
                    <use xlink:href="#eye"></use>
                </svg>
            </a>
            <div class="page-header__schedule">
                <p>
                    Пятигорск
                </p>
                <p>
                    8:30—19:00
                </p>
            </div>
            <a href="tel:+78003334603" class="page-header__phone">8 800 333—4603</a>
        </div>
        <div class="page-header__bottom">
            <a href="/" class="page-header__logo">
                <img src="/images/logo.svg" alt="" class="page-header__logo-image">
            </a>
            <a href="#" class="page-header__services-link">
                Услуги
            </a>
            <div class="page-header__wrapper">
                <nav class="page-header__nav">
                    <ul class="page-header__nav-list">
                        <li class="page-header__nav-list-item">
                            <a href="#" class="page-header__nav-link">
                                Врачи
                            </a>
                        </li>
                        <li class="page-header__nav-list-item">
                            <a href="#" class="page-header__nav-link">
                                Цены
                            </a>
                        </li>
                    </ul>
                    <ul class="page-header__nav-list">
                        <li class="page-header__nav-list-item">
                            <a href="#" class="page-header__nav-link">
                                Статьи
                            </a>
                        </li>
                        <li class="page-header__nav-list-item">
                            <a href="#" class="page-header__nav-link">
                                О клинике
                            </a>
                        </li>
                        <li class="page-header__nav-list-item">
                            <a href="#" class="page-header__nav-link">
                                Контакты
                            </a>
                        </li>
                    </ul>
                </nav>
                <div class="page-header__right-wrapper">
                    <ul class="page-header__social-list">
                        <li class="page-header__social-list-item">
                            <a href="#" class="page-header__social-link">
                                <svg width="14" height="14" aria-hidden="true">
                                    <use xlink:href="#whatsapp"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="page-header__social-list-item">
                            <a href="#" class="page-header__social-link">
                                <svg width="14" height="14" aria-hidden="true">
                                    <use xlink:href="#telegram"></use>
                                </svg>
                            </a>
                        </li>
                    </ul>
                    <a href="#" class="page-header__callback-btn">
                        Записаться
                    </a>
                </div>
            </div>

        </div>
    </div>
</header>