<section class="licenses">
    <div class="licenses__content">
        <div class="licenses__left">
            <div class="h4 licenses__subtitle">
                лицензии
            </div>
            <h2 class="h2 licenses__title">
                лицензии
                и сертификаты
            </h2>
        </div>
        <div class="licenses__right">
            <div class="licenses__slider">
                <div class="swiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <a href="#" class="license-card">
                                <img src="/images/license-card/1.webp" alt="">
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" class="license-card">
                                <img src="/images/license-card/2.webp" alt="">
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" class="license-card">
                                <img src="/images/license-card/3.webp" alt="">
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" class="license-card">
                                <img src="/images/license-card/1.webp" alt="">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>