<section class="promo">
    <div class="promo__content">
        <h2 class="promo__large-heading">
            Актуальные акции
        </h2>
        <h3 class="promo__subheading">
            в клинике факт
        </h3>
        <div class="promo__slider">
            <div class="slider-nav">
                <button class="slider-nav__arrow" type="button">
                    <svg width="14" height="14" aria-hidden="true">
                        <use xlink:href="#arrow-left"></use>
                    </svg>
                </button>
                <button class="slider-nav__arrow" type="button">
                    <svg width="14" height="14" aria-hidden="true">
                        <use xlink:href="#arrow-right"></use>
                    </svg>
                </button>
            </div>
            <div class="promo__slider-wrapper">
                <div class="swiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <a href="#" class="promo-card">
                                <div class="promo-card__bg">
                                    <img src="/images/promo-card/1.webp" alt="">
                                </div>
                                <div class="promo-card__content">
                                    <div class="promo-card__date">
                                        17 февраля 2025 - 31 декабря 2025
                                    </div>
                                    <h3 class="h3 promo-card__title">
                                        семейная забота о зрении
                                    </h3>
                                    <div class="promo-card__bottom">
                                        <div class="promo-card__desc">
                                            Формируем новые семейные традиции – на диагностику зрения идем всей семьей,
                                            ведь забота о здоровье глаз нужна каждому.
                                        </div>
                                        <div class="large-btn promo-card__btn">
                                            Подробнее
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" class="promo-card">
                                <div class="promo-card__bg">
                                    <img src="/images/promo-card/1.webp" alt="">
                                </div>
                                <div class="promo-card__content">
                                    <div class="promo-card__date">
                                        1 июня 2025 - 31 декабря 2025
                                    </div>
                                    <h3 class="h3 promo-card__title">
                                        Оформляйте рассрочку без переплат
                                    </h3>
                                    <div class="promo-card__bottom">
                                        <div class="promo-card__desc">
                                            Только изначальная сумма, разделённая на 12 месяцев
                                        </div>
                                        <div class="large-btn promo-card__btn">
                                            Подробнее
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>