<footer class="page-footer">
    <div class="page-footer__content">
        <div class="page-footer__main">
            <span class="page-footer__split" aria-hidden="true"></span>
            <div class="page-footer__brand">
                <a href="/" class="page-footer__logo">
                    <img src="/images/logo.svg" alt="">
                </a>
                <a href="#" class="page-footer__version">
                    Версия для слабовидящих
                    <svg width="14" height="14" aria-hidden="true">
                        <use xlink:href="#eye"></use>
                    </svg>
                </a>
            </div>
            <nav class="page-footer__nav" aria-label="Навигация по сайту">
                <div class="page-footer__nav-group">
                    <h3 class="page-footer__nav-title">
                        Компания
                    </h3>
                    <ul class="page-footer__nav-list">
                        <li class="page-footer__nav-list-item">
                            <a href="#" class="page-footer__nav-link">
                                О клинике
                            </a>
                        </li>
                        <li class="page-footer__nav-list-item">
                            <a href="#" class="page-footer__nav-link">
                                Врачи
                            </a>
                        </li>
                        <li class="page-footer__nav-list-item">
                            <a href="/prices.html" class="page-footer__nav-link">
                                Цены
                            </a>
                        </li>
                        <li class="page-footer__nav-list-item">
                            <a href="#" class="page-footer__nav-link">
                                Отзывы
                            </a>
                        </li>
                        <li class="page-footer__nav-list-item">
                            <a href="/doctors-articles.html" class="page-footer__nav-link">
                                Статьи
                            </a>
                        </li>
                        <li class="page-footer__nav-list-item">
                            <a href="/licenses.html" class="page-footer__nav-link">
                                Лицензии
                            </a>
                        </li>
                        <li class="page-footer__nav-list-item">
                            <a href="#" class="page-footer__nav-link">
                                Контакты
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="page-footer__nav-group">
                    <h3 class="page-footer__nav-title">
                        Услуги
                    </h3>
                    <ul class="page-footer__nav-list">
                        <li class="page-footer__nav-list-item">
                            <a href="#" class="page-footer__nav-link">
                                Диагностика
                            </a>
                        </li>
                        <li class="page-footer__nav-list-item">
                            <a href="#" class="page-footer__nav-link">
                                Детское отделение
                            </a>
                        </li>
                        <li class="page-footer__nav-list-item">
                            <a href="#" class="page-footer__nav-link">
                                Лазерная коррекция
                            </a>
                        </li>
                        <li class="page-footer__nav-list-item">
                            <a href="#" class="page-footer__nav-link">
                                Глаукома
                            </a>
                        </li>
                        <li class="page-footer__nav-list-item">
                            <a href="#" class="page-footer__nav-link">
                                Катаракта
                            </a>
                        </li>
                        <li class="page-footer__nav-list-item">
                            <a href="#" class="page-footer__nav-link">
                                Кератоконус
                            </a>
                        </li>
                        <li class="page-footer__nav-list-item">
                            <a href="#" class="page-footer__nav-link">
                                Окулопластика
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
            <div class="page-footer__social">
                <div class="page-footer__social-group">
                    <h3 class="page-footer__social-title">
                        Свяжитесь с нами
                    </h3>
                    <ul class="page-footer__social-write-list">
                        <li class="page-footer__social-write-list-item">
                            <a href="#" class="page-footer__social-write-link">
                                <svg width="14" height="14" aria-hidden="true">
                                    <use xlink:href="#whatsapp"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="page-footer__social-write-list-item">
                            <a href="#" class="page-footer__social-write-link">
                                <svg width="14" height="14" aria-hidden="true">
                                    <use xlink:href="#telegram"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="page-footer__social-write-list-item">
                            <a href="#" class="page-footer__social-write-link">
                                <svg width="14" height="14" aria-hidden="true">
                                    <use xlink:href="#max"></use>
                                </svg>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="page-footer__social-group">
                    <h3 class="page-footer__social-title">
                        Мы в соц сетях:
                    </h3>
                    <ul class="page-footer__social-media-list">
                        <li class="page-footer__social-media-list-item">
                            <a href="#" class="page-footer__social-media-link">
                                <svg width="14" height="14" aria-hidden="true">
                                    <use xlink:href="#rutube"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="page-footer__social-media-list-item">
                            <a href="#" class="page-footer__social-media-link">
                                <svg width="14" height="14" aria-hidden="true">
                                    <use xlink:href="#youtube"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="page-footer__social-media-list-item">
                            <a href="#" class="page-footer__social-media-link">
                                <svg width="14" height="14" aria-hidden="true">
                                    <use xlink:href="#telegram"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="page-footer__social-media-list-item">
                            <a href="#" class="page-footer__social-media-link">
                                <svg width="14" height="14" aria-hidden="true">
                                    <use xlink:href="#vk"></use>
                                </svg>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="page-footer__contacts">
                <div class="page-footer__contacts-card">
                    <a href="tel:+78003334603" class="page-footer__contacts-card-key">
                        8 800 333—4603
                    </a>
                    <a href="tel:+78003334603" class="page-footer__contacts-card-value">
                        Обратный звонок
                    </a>
                </div>
                <div class="page-footer__contacts-card">
                    <a href="mailto:mng@factmed.ru" class="page-footer__contacts-card-key">
                        mng@factmed.ru
                    </a>
                    <a href="mailto:mng@factmed.ru" class="page-footer__contacts-card-value">
                        написать письмо
                    </a>
                </div>
                <div class="page-footer__contacts-card">
                    <div class="page-footer__contacts-card-key">
                        г. Пятигорск,<br>
                        ул.&nbsp;Московская&nbsp;105
                    </div>
                    <div class="page-footer__schedule">
                        Ежедневно с 8:30 до 19:00
                    </div>
                    <a href="#" class="page-footer__contacts-card-value">
                        смотреть на карте
                    </a>
                </div>
            </div>
        </div>
        <div class="page-footer__bottom">
            <div class="page-footer__copyright">
                © ФАКТ, 2025. Все права защищены.<br>
                Лицензия №Л041-01197-26/00380702
            </div>
            <div class="page-footer__links">
                <a href="#" class="page-footer__link">
                    Политика конфиденциальности
                </a>
                <a href="#" class="page-footer__link">
                    Политика обработки персональных данных
                </a>
            </div>
            <a href="https://markweber.ru/" class="page-footer__made-by" target="_blank" rel="noopener noreferrer">
                <img src="/images/mw.svg" alt="Mark Weber">
                Дизайн и разработка<br>
                сайта — Mark Weber
            </a>
        </div>
    </div>
</footer>
