<header class="page-header">
    <div class="page-header__content">
        <div class="page-header__top">
            <div class="page-header__btns">
                <a href="#" class="page-header__version">
                    <span class="page-header__version-text">
                        Версия для слабовидящих
                    </span>
                    <svg width="14" height="14" aria-hidden="true">
                        <use xlink:href="#eye"></use>
                    </svg>
                </a>
                <button class="page-header__burger" type="button">
                    <svg width="14" height="14" aria-hidden="true">
                        <use xlink:href="#burger"></use>
                    </svg>
                </button>
            </div>
            <div class="page-header__schedule">
                <p class="city">
                    Пятигорск
                </p>
                <p class="time">
                    8:30—19:00
                </p>
            </div>
            <a href="tel:+78003334603" class="page-header__phone">8 800 333—4603</a>
        </div>
        <div class="page-header__bottom">
            <a href="/" class="page-header__logo">
                <img src="/images/logo.svg" alt="" class="page-header__logo-image">
            </a>
            <div class="page-header__bottom-wrapper">


                <a href="#" class="page-header__services-link">
                    Услуги
                </a>
                <nav class="page-header__nav">
                    <ul class="page-header__nav-list">
                        <li class="page-header__nav-list-item">
                            <a href="#" class="page-header__nav-link">
                                Врачи
                            </a>
                        </li>
                        <li class="page-header__nav-list-item">
                            <a href="#" class="page-header__nav-link">
                                Цены
                            </a>
                        </li>
                        <li class="page-header__nav-list-item">
                            <a href="#" class="page-header__nav-link">
                                Статьи
                            </a>
                        </li>
                        <li class="page-header__nav-list-item">
                            <a href="#" class="page-header__nav-link">
                                О клинике
                            </a>
                        </li>
                        <li class="page-header__nav-list-item">
                            <a href="#" class="page-header__nav-link">
                                Контакты
                            </a>
                        </li>
                        <li class="page-header__nav-list-item">
                            <a href="#" class="page-header__nav-link">
                                Клиника года
                            </a>
                        </li>
                    </ul>
                </nav>
                <div class="page-header__right-wrapper">
                    <ul class="page-header__social-list">
                        <li class="page-header__social-list-item">
                            <a href="#" class="page-header__social-link">
                                <svg width="14" height="14" aria-hidden="true">
                                    <use xlink:href="#whatsapp"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="page-header__social-list-item">
                            <a href="#" class="page-header__social-link ">
                                <svg width="14" height="14" aria-hidden="true">
                                    <use xlink:href="#telegram"></use>
                                </svg>
                            </a>
                        </li>
                    </ul>
                    <a href="#" class="btn btn--green page-header__callback-btn">
                        Записаться
                    </a>
                </div>
            </div>

        </div>
    </div>
</header>