@use "wysiwyg";
@use "accordion";
@use "video-preview";
@use "slider-nav";
@use "slider-fraction";
@use "tabs-nav";
@use "breadcrumbs";
@use "select";
@use "datepicker";
@use "btns";
@use "cards";

.validation-error {
  margin-top: 1rem;
  font-family: var(--inter);
  font-size: 1.8rem;
  font-style: italic;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: -0.018rem;
}
