@use "utils";
@use "media";

@layer components {
  .slider-nav {
    display: flex;

    &:has(.swiper-button-lock) {
      display: none;
    }
  }

  .slider-nav__arrow {
    aspect-ratio: 1 / 1;
    flex-shrink: 0;
    height: 6rem;
    display: grid;
    place-items: center;
    transition:
      background-color 0.2s,
      border-color 0.2s;
    border: 1px solid #000000;
    background-color: #000000;

    @include media.breakpoint(mobile) {
      height: 4rem;
    }

    &:not(:first-child) {
      margin-left: -1px;
    }

    svg {
      width: 1.2rem;
      height: 1.9rem;
      fill: white;
      transition: fill 0.2s;
      @include media.breakpoint(mobile) {
        display: none;
      }
    }

    .slider-nav__arrow-icon--bold {
      display: none;
      fill: white;
      transition: fill 0.2s;
      @include media.breakpoint(mobile) {
        display: block;
        width: 0.9182rem;
        height: 1.4121rem;
      }
    }

    &.swiper-button-disabled {
      border-color: #d3d3d3;
      background-color: transparent;
      cursor: default;
      @include media.breakpoint(mobile) {
        border-color: #a4a4a4;
      }
      svg,
      .slider-nav__arrow-icon--bold {
        fill: #161616;
      }
    }

    &:not(.swiper-button-disabled):hover {
      background-color: var(--green-300);
      border-color: var(--green-300);
      svg {
        fill: black;
      }
    }

    .slider-nav--white & {
      background-color: #fff;
      border: none;
      svg,
      .slider-nav__arrow-icon--bold {
        fill: #161616;
      }
      &.swiper-button-disabled {
        background: rgba(255, 255, 255, 0.6);
      }
    }
  }
}
