@use "utils";
@use "media";

@layer components {
  .tabs-nav {
    display: flex;
    flex-direction: column;

    &:has(.tabs-nav__list > .tabs-nav__list-item:only-child) {
      display: none;
    }
  }

  .tabs-nav__list {
    display: flex;
    flex-grow: 1;
  }

  .tabs-nav__list-item {
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    &:not(:first-child) {
      margin-left: -1px;
    }
  }

  .tabs-nav__btn {
    display: grid;
    place-items: center;
    text-align: center;
    padding: 2.4rem;
    min-width: 22rem;
    border: 1px solid #a4a4a4;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 900;
    line-height: 100%;
    transition:
      background-color 0.2s,
      border-color 0.2s,
      color 0.2s;
    user-select: none;
    color: var(--text-color);
    cursor: pointer;
    flex-grow: 1;

    @include media.breakpoint(mobile) {
      min-width: 8rem;
      padding: 1rem;
      font-size: 1rem;
      font-style: normal;
      font-weight: 900;
      line-height: 100%;
    }

    &:not(.active):hover {
      position: relative;
      z-index: 1;
      background-color: #fff;
      border-color: #fff;
    }

    &.active {
      background-color: var(--green-300);
      border-color: var(--green-300);
      color: var(--text-color);
      cursor: default;
      position: relative;
      z-index: 10;
    }
  }
}
