@use "utils";
@use "media";

@layer sections {
  .about-clinic {
    @include utils.blockWrapper;
    padding-top: 12rem;
    margin-bottom: 12rem;

    @include media.breakpoint(mobile) {
      padding-top: 6rem;
      margin-bottom: 0;
    }
  }

  .about-clinic__content {
    @include utils.blockContent;
    display: flex;
    flex-direction: column;
    container-type: inline-size;
  }

  .about-clinic__title-wrapper {
    display: grid;
    grid-template-columns: minmax(0, 1fr);
    grid-template-areas: "stack";
  }

  .about-clinic__fluid-title {
    text-align: center;
    font-size: 12.4cqw;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    font-weight: 900;
    line-height: 100%;
    grid-area: stack;

    @include media.breakpoint(mobile) {
      font-size: 12.4cqw;
      text-align: left;
      white-space: nowrap;
    }
  }

  .about-clinic__circle {
    grid-area: stack;
    z-index: 10;
    aspect-ratio: 1 / 1;
    width: 27rem;
    border-radius: 50%;
    display: grid;
    place-items: center;
    background-color: var(--green-300);
    text-align: center;
    color: #111;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 900;
    line-height: 100%;
    text-transform: uppercase;
    margin-top: 9rem;
    justify-self: center;

    @include media.breakpoint(mobile) {
      width: 10rem;
      margin-top: 2.7rem;
      font-size: 1.2rem;
      font-style: normal;
      font-weight: 900;
      line-height: 100%;
      text-transform: uppercase;
    }
  }

  .about-clinic__subheading {
    text-wrap: balance;
    font-size: 4.5rem;
    font-style: normal;
    font-weight: 900;
    line-height: 100%;
    letter-spacing: -0.045rem;
    text-transform: uppercase;
    color: #222;
    margin-top: 8.8rem;
    text-align: center;
    max-width: 109.2rem;
    align-self: center;
    @include media.breakpoint(mobile) {
      text-wrap: initial;
      align-self: flex-start;
      font-size: 1.6rem;
      font-style: normal;
      font-weight: 900;
      line-height: 100%;
      letter-spacing: -0.016rem;
      text-transform: uppercase;
      margin-top: 3.5rem;
      text-align: left;
      max-width: none;
    }
  }

  .about-clinic__subheading-mobile-break {
    display: none;

    @include media.breakpoint(mobile) {
      display: block;
    }
  }

  .about-clinic__controls {
    display: none;

    @include media.breakpoint(mobile) {
      margin-top: 3.9rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 1.6rem;
    }
  }

  .about-clinic__slider {
    @include media.breakpoint(mobile) {
      margin-top: 2rem;
      overflow: visible;
    }
  }

  .about-clinic__list {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 1px;
    padding: 1px;
    background-color: #d3d3d3;
    margin-top: 8rem;
    position: relative;
    z-index: 10;
    margin-bottom: -8rem;
    @include media.breakpoint(mobile) {
      display: flex;
      gap: 0;
      padding: 0;
      background: transparent;
      margin-top: 0;
      margin-bottom: 0;
      z-index: 2;
    }
  }

  .about-clinic__list-item {
    display: flex;
    flex-direction: column;

    @include media.breakpoint(mobile) {
      width: 34.2rem;
      border: 1px solid #d3d3d3;
      border-right: none;
      &:last-child {
        border-right: 1px solid #d3d3d3;
      }
    }
  }

  .about-clinic__card {
    background-color: #fff;
    color: var(--text-color);
    aspect-ratio: 1 / 1;
    display: grid;
    grid-template-columns: minmax(0, 1fr);
    grid-template-rows: 1fr auto 1fr;
    gap: 1.6rem;
    grid-template-areas: "icon" "title" "text";
    flex-grow: 1;
    padding: 4rem;
    @include media.breakpoint(mobile) {
      padding: 2rem;
      aspect-ratio: auto;
      height: 17.5rem;

      gap: 1.2rem;
      grid-template-rows: auto auto 1fr;
    }
  }

  .about-clinic__card-icon {
    grid-area: icon;
    align-self: flex-start;
    justify-self: flex-start;
    display: grid;
    place-items: center;
    border-radius: 50%;
    width: 4rem;
    height: 4rem;
    background-color: var(--green-300);

    @include media.breakpoint(mobile) {
      width: 2.5rem;
      height: 2.5rem;
    }
    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  .about-clinic__card-title {
    grid-area: title;
    text-align: center;
    align-self: center;
    justify-self: center;

    font-size: 3rem;
    font-style: normal;
    font-weight: 900;
    line-height: 100%;
    letter-spacing: -0.03rem;
    text-transform: uppercase;
    max-width: 35.825rem;

    @include media.breakpoint(mobile) {
      font-size: 1.6rem;
      font-style: normal;
      font-weight: 900;
      line-height: 100%;
      letter-spacing: -0.016rem;
      text-transform: uppercase;
      max-width: 100%;
    }
  }

  .about-clinic__card-text {
    grid-area: text;
    align-self: flex-end;
    max-width: 32.7rem;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;

    @include media.breakpoint(mobile) {
      max-width: 100%;
      font-size: 1.4rem;
      line-height: 120%;
      display: -webkit-box;
      -webkit-line-clamp: 4;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }
  }

}
