@use "utils";
@use "media";

@layer sections {
  .blog {
    @include utils.blockWrapper;
    padding: 7.85rem 0 8rem;
    background-color: #eaeaea;
    margin-bottom: 12rem;

    @include media.breakpoint(mobile) {
      padding: 6rem 0;
    }
  }

  .blog__content {
    @include utils.blockContent;
    display: flex;
    flex-direction: column;
  }

  .blog__title {
    margin: 0;
  }

  .blog__subtitle {
    margin-top: 3rem;
    max-width: 88rem;
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;

    @include media.breakpoint(mobile) {
      margin-top: 1.2rem;
      font-size: 1.4rem;
      line-height: 120%;
    }
  }

  .blog__list {
    margin-top: 8.8rem;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));

    @include media.breakpoint(mobile) {
      margin-top: 4rem;
      width: 100vw;
      position: relative;
      left: 50%;
      transform: translateX(-50%);
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }
  }

  .blog__list-item {
    display: flex;
    flex-direction: column;
    border-right: 1px solid #cbcbcb;

    &:last-child {
      border: none;
    }

    &:nth-child(3n) {
      border: none;
    }

    @include media.breakpoint(mobile) {
      &:not(:nth-child(-n + 2)) {
        display: none;
      }

      &:nth-child(2) {
        border: none;
      }
    }
  }

  .blog__show-all {
    margin-top: 8rem;
    align-self: center;
    width: 43.9rem;
    max-width: 100%;

    @include media.breakpoint(mobile) {
      align-self: stretch;
      width: auto;
      margin-top: 4rem;
    }
  }
}
