@use "utils";
@use "media";

@layer sections {
  .blog {
    @include utils.blockWrapper;
    padding: 8rem 0;
    background-color: #eaeaea;

    @include media.breakpoint(mobile) {
      padding: 6rem 0;
    }
  }

  .blog__content {
    @include utils.blockContent;
    display: flex;
    flex-direction: column;
  }

  .blog__title {
    margin-top: 2rem;
    @include media.breakpoint(mobile) {
      margin-top: 0.5rem;
    }
    &:first-child {
      margin-top: 0;
    }
  }

  .blog__list {
    margin-top: 11rem;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    @include media.breakpoint(mobile) {
      margin-top: 4rem;
      width: 100vw;
      position: relative;
      left: 50%;
      transform: translateX(-50%);
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }
  }

  .blog__list-item {
    display: flex;
    flex-direction: column;
    border-right: 1px solid #cbcbcb;
    transition: border-color 0.2s;

    &:last-child {
      border: none;
    }

    &:nth-child(3n) {
      border: none;
    }

    @media (hover: hover) and (pointer: fine) {
      &:hover {
        border-color: transparent;
      }
    }
    @include media.breakpoint(mobile) {
      &:not(:nth-child(-n + 2)) {
        display: none;
      }

      &:nth-child(2) {
        border: none;
      }
    }
  }

  .blog__show-all {
    margin-top: 8rem;
    align-self: center;
    @include media.breakpoint(mobile) {
      align-self: stretch;
      margin-top: 4rem;
    }
  }
}
