@use "utils";
@use "media";

@layer sections {
  .clinic-services {
    @include utils.blockWrapper;
    margin-bottom: 15rem;

    @include media.breakpoint(mobile) {
      margin-bottom: 6rem;
    }
  }

  .clinic-services__content {
    @include utils.blockContent;
    display: flex;
    flex-direction: column;
    container-type: inline-size;
  }

  .clinic-services__title {
    text-align: center;
    font-size: 10.89cqw;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    font-weight: 900;
    line-height: 100%;
    color: #161616;
  }

  .clinic-services__subtitle {
    text-align: center;
    margin-top: 7rem;
    font-size: 4.5rem;
    font-style: normal;
    font-weight: 900;
    line-height: 100%;
    letter-spacing: -0.045rem;
    text-transform: uppercase;
    color: #222;
    align-self: center;
    text-wrap: balance;

    @include media.breakpoint(mobile) {
      margin-top: 4rem;
      max-width: 34.3rem;
      align-self: stretch;
      text-wrap: unset;
      text-align: left;
      font-size: 1.8rem;
      line-height: 100%;
      letter-spacing: -0.018rem;
    }
  }

  .clinic-services__subtitle-break {
    display: none;

    @include media.breakpoint(mobile) {
      display: block;
    }
  }

  .clinic-services__slider {
    margin-top: 8rem;

    .swiper-slide {
      display: flex;
      flex-direction: column;
      height: auto;
      width: 33.33%;
      border: 1px solid #cbcbcb;
      box-sizing: border-box;
      border-right: none;

      &:last-child {
        border-right: 1px solid #cbcbcb;
      }
    }

    @include media.breakpoint(mobile) {
      margin-top: 4rem;
      margin-left: calc(-1 * var(--content-padding));
      margin-right: calc(-1 * var(--content-padding));

      .swiper {
        overflow: visible;
      }

      .swiper-wrapper {
        display: block;
      }

      .swiper-slide {
        width: 100%;
        border: none;
      }

      .swiper-slide + .swiper-slide {
        border-top: 1px solid #8d8d8d;
      }
    }
  }

  .clinic-services__list {
    margin-top: 6.4rem;
    display: grid;
    grid-template-columns: 20rem 1fr 1.23fr auto;

    @include media.breakpoint(mobile) {
      margin-top: 2rem;
      grid-template-columns: minmax(0, 1fr);
    }
  }

  .clinic-services__list-item {
    border-bottom: 1px solid #d3d3d3;
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: subgrid;

    @include media.breakpoint(mobile) {
      display: block;
    }

    &:last-child {
      border: none;
    }
  }

  .clinic-services__show-more {
    align-self: center;
    margin-top: 8rem;
    width: 44rem;

    @include media.breakpoint(mobile) {
      width: auto;
      align-self: stretch;
      margin-top: 4rem;
    }
  }
}
