@use "utils";
@use "media";

@layer sections {
  .clinic-services {
    @include utils.blockWrapper;
    margin-bottom: 15rem;

    @include media.breakpoint(mobile) {
      margin-bottom: 6rem;
    }
  }

  .clinic-services__content {
    @include utils.blockContent;
    display: flex;
    flex-direction: column;
    container-type: inline-size;
  }

  .clinic-services__title {
    text-align: center;
    font-size: 10.89cqw;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    font-weight: 900;
    line-height: 100%;
    color: #161616;
  }

  .clinic-services__subtitle {
    text-align: center;
    margin-top: 7rem;
    font-size: 4.5rem;
    font-style: normal;
    font-weight: 900;
    line-height: 100%;
    letter-spacing: -0.045rem;
    text-transform: uppercase;
    color: #222;

    align-self: center;
    text-wrap: balance;

    @include media.breakpoint(mobile) {
      font-size: 1.8rem;
      font-style: normal;
      font-weight: 900;
      line-height: 100%;
      letter-spacing: -0.018rem;
      text-transform: uppercase;
      margin-top: 4rem;
    }
  }

  .clinic-services__slider {
    margin-top: 8rem;

    @include media.breakpoint(mobile) {
      margin-top: 4rem;
      width: calc(100vw + 2px);
      position: relative;
      left: 50%;
      transform: translateX(-50%);
      border-top: 1px solid #cbcbcb;
      border-bottom: 1px solid #cbcbcb;
    }
    .swiper-slide {
      display: flex;
      flex-direction: column;
      height: auto;
      width: 33.33%;
      border: 1px solid #cbcbcb;
      box-sizing: border-box;
      border-right: none;

      &:last-child {
        border-right: 1px solid #cbcbcb;
      }

      @include media.breakpoint(mobile) {
        width: 50%;
        border: none;
        border-right: 1px solid #cbcbcb;
        border-left: none;
        &:last-child {
          border-right: none;
        }
      }
    }
  }

  .clinic-services__list {
    margin-top: 3.2rem;
    display: grid;
    grid-template-columns: auto 1fr 1.23fr auto;

    @include media.breakpoint(mobile) {
      margin-top: 0;
      grid-template-columns: auto 1fr auto;
    }
  }

  .clinic-services__list-item {
    border-bottom: 1px solid #d3d3d3;
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: subgrid;
    &:last-child {
      border: none;
    }
  }

  .clinic-services__horizontal-card {
    padding: 4rem 0;
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: subgrid;
    align-items: center;
    gap: 4rem;
    grid-template-areas: "doctors title text price";
    transition:
      color 0.2s,
      background-color 0.2s;

    @media (hover: hover) and (pointer: fine) {
      &:hover {
        background-color: var(--green-300);
        .linic-services__horizontal-card-price {
          transform: translateX(-4rem);
        }
      }
    }

    @include media.breakpoint(mobile) {
      padding: 3.6rem 0;
      gap: 3rem;
      grid-template-areas: "doctors title price";
    }
  }

  .clinic-services__horizontal-card-doctors {
    grid-area: doctors;
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  .clinic-services__horizontal-card-doctor {
    flex-shrink: 0;
    width: 5.6rem;
    height: 5.6rem;
    border-radius: 50%;
    overflow: hidden;
    border: 1px solid rgba(0, 0, 0, 0.1);
    position: relative;

    @include media.breakpoint(mobile) {
      width: 2.5rem;
      height: 2.5rem;
      &:not(:nth-child(-n + 2)) {
        display: none;
      }
    }

    img {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .clinic-services__horizontal-card-title {
    font-size: 3rem;
    font-style: normal;
    font-weight: 900;
    line-height: 100%;
    letter-spacing: -0.03rem;
    text-transform: uppercase;
    grid-area: title;
    color: #222;
    @include media.breakpoint(mobile) {
      font-size: 2rem;
      font-style: normal;
      font-weight: 900;
      line-height: 100%;
      letter-spacing: -0.02rem;
      text-transform: uppercase;
      text-align: center;
      justify-self: center;
    }
  }

  .clinic-services__horizontal-card-text {
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    color: #222;
    grid-area: text;
    @include media.breakpoint(mobile) {
      display: none;
    }
  }

  .linic-services__horizontal-card-price {
    font-size: 2rem;
    font-style: normal;
    font-weight: 900;
    line-height: 120%;
    letter-spacing: -0.02rem;
    color: #222;
    grid-area: price;
    justify-self: flex-end;
    transition: transform 0.2s;
    white-space: nowrap;

    @include media.breakpoint(mobile) {
      font-size: 1.5rem;
      font-style: normal;
      font-weight: 900;
      line-height: 120%;
      letter-spacing: -0.015rem;
    }
  }

  .clinic-services__show-more {
    align-self: center;
    margin-top: 8rem;
    width: 44rem;

    @include media.breakpoint(mobile) {
      align-self: stretch;
      margin-top: 4rem;
    }
  }
}
