@use "media";

@layer sections {
  .cookie-modal {
    position: fixed;
    left: 2rem;
    bottom: 2rem;
    z-index: 400;
    width: min(47rem, calc(100vw - 4rem));
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transform: translateY(1.2rem);
    transition:
      opacity 0.4s,
      visibility 0s linear 0.4s,
      transform 0.4s;
  }

  .cookie-modal.active {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    transform: translateY(0);
    transition:
      opacity 0.4s,
      visibility 0.4s,
      transform 0.4s;
  }

  .cookie-modal__inner {
    position: relative;
    background-color: var(--green-300);
    color: var(--text-color);
  }

  .cookie-modal__content {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 4.5rem 2.2rem 4rem;

    @include media.breakpoint(mobile) {
      gap: 2.4rem;
      padding: 4.5rem 1.6rem 1.6rem;
    }
  }

  .cookie-modal__close {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
    display: grid;
    place-items: center;
    width: 4rem;
    aspect-ratio: 1 / 1;
    background-color: var(--text-color);
    color: white;
  }

  .cookie-modal__close svg {
    width: 1.5rem;
    aspect-ratio: 1 / 1;
    fill: currentColor;
  }

  .cookie-modal__title {
    font-size: 4.5rem;
    font-weight: 900;
    line-height: 100%;
    letter-spacing: -0.09rem;
    text-transform: uppercase;

    @include media.breakpoint(mobile) {
      font-size: 3.8rem;
      letter-spacing: -0.038rem;
    }
  }

  .cookie-modal__description {
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 140%;

    @include media.breakpoint(mobile) {
      max-width: none;
      font-size: 1.4rem;
      line-height: 120%;
      letter-spacing: -0.014rem;
    }
  }

  .cookie-modal__link {
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-underline-offset: 1px;
  }

  .cookie-modal__actions {
    display: grid;

    grid-template-columns: repeat(2, minmax(0, 1fr));

    @include media.breakpoint(mobile) {
      display: flex;
      flex-direction: column;
      gap: 0.8rem;
    }
  }

  .cookie-modal__btn {
    @include media.breakpoint(mobile) {
      text-transform: uppercase;
    }
  }
}
