@use "utils";
@use "media";

@layer sections {
  .dms {
    @include utils.blockWrapper;
    padding-top: 20.4rem;
    padding-bottom: 12rem;

    @include media.breakpoint(mobile) {
      padding-top: 16.5rem;
      padding-bottom: 6rem;
    }
  }

  .dms__content {
    @include utils.blockContent;
    display: flex;
    flex-direction: column;
  }

  .dms__main {
    margin-top: 11.6rem;
    display: grid;
    grid-template-columns: repeat(8, minmax(0, 1fr));
    row-gap: 6rem;

    @include media.breakpoint(mobile) {
      margin-top: 3.2rem;
      display: flex;
      flex-direction: column;
      gap: 3.2rem;
    }
  }

  .dms__title,
  .dms__lead,
  .dms__block {
    grid-column: 2 / 8;

    @include media.breakpoint(mobile) {
      grid-column: auto;
    }
  }

  .dms__title {
    font-size: 4.5rem;
    font-style: normal;
    font-weight: 900;
    line-height: 100%;
    letter-spacing: -0.045rem;
    text-transform: uppercase;
    color: #161616;

    @include media.breakpoint(mobile) {
      font-size: 2.4rem;
      letter-spacing: -0.1rem;
    }
  }

  .dms__lead {
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    letter-spacing: -0.018rem;
    color: #161616;

    @include media.breakpoint(mobile) {
      font-size: 1.4rem;
      letter-spacing: 0;
    }
  }

  .dms__block {
    display: flex;
    flex-direction: column;
    gap: 4rem;

    @include media.breakpoint(mobile) {
      gap: 3.2rem;
    }
  }

  .dms__block + .dms__block {
    margin-top: 2rem;

    @include media.breakpoint(mobile) {
      margin-top: 0;
    }
  }

  .dms__media {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .dms__media:has(.dms__media-item:nth-child(3)) {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  .dms__media-item {
    position: relative;
    overflow: hidden;
  }

  .dms__media-item:not(:last-child) {
    border-right: 0.2rem solid #eaeaea;
  }

  .dms__media .dms__media-item {
    aspect-ratio: 660 / 499;
  }

  .dms__media:has(.dms__media-item:nth-child(3)) .dms__media-item {
    aspect-ratio: 440 / 499;
  }

  @include media.breakpoint(mobile) {
    .dms__media .dms__media-item,
    .dms__media:has(.dms__media-item:nth-child(3)) .dms__media-item {
      aspect-ratio: 1 / 1;
    }

    .dms__media-item:not(:last-child) {
      border-right: 0.2rem solid #fff;
    }

    .dms__media:has(.dms__media-item:nth-child(3))
      .dms__media-item:not(:last-child) {
      border-right-width: 0.1rem;
    }
  }

  .dms__media-item img {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .dms__text {
    display: flex;
    flex-direction: column;
    gap: 3rem;

    @include media.breakpoint(mobile) {
      gap: 2rem;
    }
  }

  .dms__block-title {
    font-size: 2rem;
    font-style: normal;
    font-weight: 900;
    line-height: 120%;
    letter-spacing: -0.02rem;
    text-transform: uppercase;
    color: #161616;

    @include media.breakpoint(mobile) {
      font-size: 1.5rem;
      line-height: 120%;
      letter-spacing: -0.015rem;
    }
  }

  .dms__paragraphs {
    display: flex;
    flex-direction: column;
    gap: 3rem;

    @include media.breakpoint(mobile) {
      gap: 2rem;
    }
  }

  .dms__paragraphs p {
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    letter-spacing: -0.018rem;
    color: #161616;

    @include media.breakpoint(mobile) {
      font-size: 1.4rem;
      letter-spacing: 0;
    }
  }
}
