@use "utils";
@use "media";

@layer sections {
  .faq {
    @include utils.blockWrapper;
    margin-bottom: 8rem;

    @include media.breakpoint(mobile) {
      margin-bottom: 6rem;
    }
  }

  .faq__content {
    @include utils.blockContent;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));

    @include media.breakpoint(mobile) {
      display: flex;
      flex-direction: column;
    }
  }

  .faq__left {
    display: flex;
    flex-direction: column;

    @include media.breakpoint(mobile) {
      display: contents;
    }
  }

  .faq__right {
    @include media.breakpoint(mobile) {
      display: contents;
    }
  }

  .faq__wrapper {
    margin-top: auto;

    display: flex;

    @include media.breakpoint(mobile) {
      order: 10;
      margin-top: 4rem;
      width: 100%;
      max-width: none;
      flex-direction: column;
    }
  }

  .faq__text-content {
    display: flex;
    flex-direction: column;
    gap: 3rem;

    @include media.breakpoint(mobile) {
      order: -20;
      gap: 1.5rem;
    }
  }

  .faq__subtitle {
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    color: #161616;

    @include media.breakpoint(mobile) {
      max-width: 27.2rem;
      font-size: 1.4rem;
      line-height: 120%;
      letter-spacing: -0.014rem;
    }
  }

  .faq__list {
    @include media.breakpoint(mobile) {
      order: -10;
      margin-top: 2rem;
      width: 100%;
    }
  }

  .faq__doctor-photo-container {
    position: relative;
    width: 19.3rem;
    background: #e3e1de;
    overflow: hidden;
    position: relative;
    &::before {
      content: "";
      display: block;
      padding-bottom: 100%;
    }

    img {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    @include media.breakpoint(mobile) {
      display: none;
    }
  }

  .faq__doctor-card {
    padding: 4rem;
    background: var(--green-300);
    display: flex;
    flex-direction: column;
    gap: 4rem;

    @include media.breakpoint(mobile) {
      width: 100%;
      padding: 4rem 2.4rem;
    }
  }

  .faq__doctor {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    @include media.breakpoint(mobile) {
      display: none;
    }
  }

  .faq__doctor-name {
    font-size: 2rem;
    font-style: normal;
    font-weight: 900;
    line-height: 100%;
    letter-spacing: -0.02rem;
    text-transform: uppercase;
    color: #222;

    @include media.breakpoint(mobile) {
      font-size: 1.6rem;
      letter-spacing: -0.016rem;
    }
  }

  .faq__doctor-position {
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    color: #111;
  }

  .faq__contact-us {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .faq__contact-us-row {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  .faq__contact-us-title {
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    color: #111;

    @include media.breakpoint(mobile) {
      text-wrap: balance;
    }
  }

  .faq__contact-us-phone {
    font-size: 2rem;
    font-style: normal;
    font-weight: 900;
    line-height: 100%;
    letter-spacing: -0.02rem;
    text-transform: uppercase;
    color: #111;
    transition: opacity 0.2s;

    &:link,
    &:visited {
      color: #111;
    }

    @include media.hover {
      &:hover {
        opacity: 0.7;
      }
    }

    @include media.breakpoint(mobile) {
      font-size: 2rem;
    }
  }

  .faq__contact-us-messenger {
    display: grid;
    place-items: center;
    width: 2rem;
    height: 2rem;
    flex-shrink: 0;
    background: #111;
    transition: opacity 0.2s;

    @include media.hover {
      &:hover {
        opacity: 0.7;
      }
    }

    svg {
      width: 1.2rem;
      height: 1.2rem;
      fill: #fff;
    }
  }

}
