@use "media";

@layer sections {
  .feedback-success-modal {
    position: fixed;
    inset: 0;
    z-index: 510;
    background-color: var(--green-300);
    opacity: 0;
    visibility: hidden;
    overflow-y: auto;
    overscroll-behavior-y: contain;
    -webkit-overflow-scrolling: touch;
    transition:
      opacity 0.4s,
      visibility 0s linear 0.4s;
    display: flex;
    flex-direction: column;
  }

  .feedback-success-modal.active {
    opacity: 1;
    visibility: visible;
    transition:
      opacity 0.4s,
      visibility 0.4s;
  }

  .feedback-success-modal__inner {
    position: relative;
    flex-grow: 1;
    padding: 4rem var(--content-padding) 6rem;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-template-rows: 1fr auto 1fr;
    color: var(--text-color);

    @include media.breakpoint(mobile) {
      padding: 1.6rem;
      grid-template-columns: minmax(0, 1fr);
      grid-template-rows: 1fr auto 1fr;
    }
  }

  .feedback-success-modal__logo {
    grid-column: 1;
    grid-row: 1;
    width: 16.2rem;
    display: block;
    justify-self: flex-start;
    grid-row: 1 / 2;
    grid-column: 1 / 2;

    @include media.breakpoint(mobile) {
      display: none;
    }
  }

  .feedback-success-modal__logo img {
    width: 100%;
    height: auto;
    display: block;
  }

  .feedback-success-modal__close {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    justify-self: flex-end;
    display: grid;
    place-items: center;
    width: 4rem;
    height: 4rem;
    background-color: var(--text-color);
    color: white;

    @include media.breakpoint(mobile) {
      grid-column: 1 / -1;
      grid-row: 1 / 2;
    }
  }

  .feedback-success-modal__close svg {
    width: 1.5rem;
    height: 1.5rem;
    fill: currentColor;
  }

  .feedback-success-modal__content {
    display: flex;
    flex-direction: column;
    grid-column: 1 / -1;
    grid-row: 2 / 3;
    justify-self: center;
    max-width: 94.6rem;

    @include media.breakpoint(mobile) {
      grid-row: 2 / 3;
      justify-self: stretch;
      max-width: none;
      gap: 4rem;
    }
  }

  .feedback-success-modal__icon {
    width: 5.06rem;
    height: 5.06rem;
    color: var(--text-color);
    margin-bottom: 4rem;

    @include media.breakpoint(mobile) {
      width: 2.5rem;
      height: 2.5rem;
      margin: 0;
    }
  }

  .feedback-success-modal__icon svg {
    width: 100%;
    height: 100%;
    display: block;
    fill: currentColor;
  }

  .feedback-success-modal__title {
    gap: 2.8rem;
    margin-bottom: 2rem;
    font-size: 8rem;
    font-style: normal;
    font-weight: 900;
    line-height: 100%;
    letter-spacing: -0.16rem;
    text-transform: uppercase;

    @include media.breakpoint(mobile) {
      margin: 0;
      font-size: 4rem;
      line-height: 100%;
      letter-spacing: -0.04rem;
      white-space: normal;
    }
  }

  .feedback-success-modal__title-dot {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    background-color: white;
    flex-shrink: 0;
    display: inline-block;
    vertical-align: baseline;

    @include media.breakpoint(mobile) {
      width: 1rem;
      height: 1rem;
    }
  }

  .feedback-success-modal__description {
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;

    @include media.breakpoint(mobile) {
      font-size: 1.4rem;
      line-height: 120%;
      letter-spacing: -0.014rem;
    }
  }
}
