@use "utils";
@use "media";

@layer sections {
  .intro {
    margin-bottom: 8rem;
    @include media.breakpoint(mobile) {
      margin-bottom: 6rem;
    }
  }

  .intro__top {
    @include utils.blockWrapper;
    position: relative;
    z-index: 1;
    aspect-ratio: 1920 / 1032;

    @include media.breakpoint(mobile) {
      aspect-ratio: revert;
      min-height: min(90rem, calc(100vh + 5rem));
      min-height: min(90rem, calc(100svh + 5rem));
    }
  }

  .intro__top-bg {
    position: absolute;
    inset: 0;
    z-index: -1;

    img {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      @include media.breakpoint(mobile) {
        object-position: center bottom;
      }
    }
  }

  .intro__top-content {
    @include utils.blockContent;
    display: flex;
    flex-direction: column;
    padding-top: 22.5rem;
    gap: 3rem;

    @include media.breakpoint(mobile) {
      padding-top: 16rem;
      gap: 2rem;
    }
  }

  .intro__top-heading {
    font-size: 10rem;
    font-style: normal;
    font-weight: 900;
    line-height: 100%;
    letter-spacing: -0.1rem;
    text-transform: uppercase;
    @include media.breakpoint(mobile) {
      font-size: 4rem;
      font-style: normal;
      font-weight: 900;
      line-height: 100%;
      letter-spacing: -0.1rem;
      font-size: 3.2rem;
      text-transform: uppercase;
    }
  }

  .intro__top-text {
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    max-width: 58rem;

    @include media.breakpoint(mobile) {
      font-size: 1.4rem;
      font-style: normal;

      line-height: 140%;
      max-width: none;
    }
  }

  .intro__mobile-link {
    display: none;
    @include media.breakpoint(mobile) {
      display: block;
      margin-top: 3rem;
      font-size: 1.3rem;
      font-style: normal;
      font-weight: 900;
      line-height: 100%;
      text-transform: uppercase;
      padding: 2rem 3rem;
      white-space: nowrap;
      background-color: var(--text-color);
      color: white;
      align-self: flex-start;
      &:link,
      &:visited {
        color: white;
      }
    }
  }

  .intro__bottom {
    @include utils.blockWrapper;
    margin-top: -8.4rem;
    position: relative;
    position: relative;
    z-index: 10;

    @include media.breakpoint(mobile) {
      margin-top: -5rem;
    }
  }

  .intro__bottom-content {
    @include utils.blockContent;
  }

  .intro__wrapper {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    margin-top: auto;
    margin-bottom: 12rem;
    @include media.breakpoint(mobile) {
      margin-bottom: 7rem;
      margin-top: 0;
      flex-grow: 1;
      display: grid;
      grid-template-columns: 1fr auto;
      grid-template-rows: 1fr auto;
      grid-template-areas: "arrows ." "cta social";
      align-items: flex-end;
    }
  }

  .intro__callback-btn {
    justify-self: stretch;
    width: auto;

    @include media.breakpoint(mobile) {
      justify-self: flex-start;
      grid-area: cta;
      align-self: flex-end;
      font-size: 1.3rem;
      font-style: normal;
      font-weight: 900;
      line-height: 100%;
      text-transform: uppercase;
      padding: 1.85rem 3rem;
    }
  }

  .intro__slider {
    .swiper-slide {
      width: 25%;
      display: flex;
      flex-direction: column;
      height: auto;
      box-sizing: border-box;
      @include media.breakpoint(mobile) {
        width: calc(50% - 5px);
      }
    }
  }

  .intro__slider-nav {
    justify-self: flex-end;
    @include media.breakpoint(mobile) {
      grid-area: arrows;
      justify-self: flex-start;
      align-self: flex-start;
    }
  }

  .intro__social {
    display: none;

    @include media.breakpoint(mobile) {
      display: flex;
      flex-direction: column;
      grid-area: social;
      justify-self: flex-end;
      gap: 1px;
    }
  }

  .intro__social-link {
    display: grid;
    place-items: center;
    width: 4rem;
    height: 4rem;
    background-color: var(--text-color);

    svg {
      width: 2.4rem;
      height: 2.4rem;
      fill: white;
    }
  }
}
