@use "utils";
@use "media";

@layer sections {
  .legal-info {
    @include utils.blockWrapper;
    padding-top: 20.4rem;
    padding-bottom: 6.4rem;

    @include media.breakpoint(mobile) {
      padding-top: 16.5rem;
      padding-bottom: 4.2rem;
    }
  }

  .legal-info__content {
    @include utils.blockContent;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));

    @include media.breakpoint(mobile) {
      display: flex;
      flex-direction: column;
    }
  }

  .legal-info__heading {
    max-width: 75.6rem;

    @include media.breakpoint(mobile) {
      max-width: none;

      .breadcrumbs {
        display: none;
      }
    }
  }

  .legal-info__title {
    margin-top: 4rem;
    color: var(--text-color);
    font-size: 8rem;
    font-style: normal;
    font-weight: 900;
    line-height: 100%;
    letter-spacing: -0.08rem;
    text-transform: uppercase;

    @include media.breakpoint(mobile) {
      margin-top: 0;
      max-width: 34.3rem;
      font-size: 4rem;
      line-height: 100%;
      letter-spacing: -0.1rem;
    }
  }

  .legal-info__body {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    padding-top: 2.9rem;

    @include media.breakpoint(mobile) {
      gap: 4rem;
      padding-top: 2.9rem;
    }
  }

  .legal-info__group {
    display: flex;
    flex-direction: column;
    gap: 4rem;

    @include media.breakpoint(mobile) {
      gap: 2rem;
    }
  }

  .legal-info__group-title {
    color: var(--text-color);
    font-size: 2rem;
    font-style: normal;
    font-weight: 900;
    line-height: 100%;
    letter-spacing: -0.02rem;
    text-transform: uppercase;

    @include media.breakpoint(mobile) {
      font-size: 1.5rem;
      letter-spacing: -0.015rem;
    }
  }

  .legal-info__list {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .legal-info__item {
    display: flex;
    align-items: center;
    gap: 2rem;
    color: var(--text-color);
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;

    @include media.breakpoint(mobile) {
      font-size: 1.4rem;
    }
  }

  .legal-info__item::before {
    content: "";
    flex: 0 0 auto;
    width: 0.7rem;
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: var(--green-300);
  }

  .page-main--legal {
    @include media.breakpoint(mobile) {
      .first-visit {
        margin-bottom: 4rem;
      }

      .first-visit__content {
        display: flex;
        flex-direction: column;
        row-gap: 0;
        padding-top: 6rem;
        padding-bottom: 3.1rem;
      }

      .first-visit__left {
        gap: 1.5rem;
      }

      .first-visit__title {
        max-width: 27.2rem;
        font-size: 4rem;
        line-height: 100%;
        letter-spacing: -0.04rem;
      }

      .first-visit__description {
        max-width: 27.2rem;
      }

      .first-visit__right {
        margin-top: 2.3rem;
      }

      .first-visit__form {
        gap: 2.5rem;
      }

      .first-visit__form-fields {
        gap: 2.5rem;
      }

      .first-visit__form-actions {
        gap: 2.4rem;
      }

      .first-visit__form-input {
        padding-bottom: 1.7rem;
      }

      .first-visit__form-submit {
        font-size: 1.5rem;
        padding-top: 2.25rem;
        padding-bottom: 2.25rem;
      }
    }
  }
}
