@use "utils";
@use "media";

@layer sections {
  .licenses {
    --licenses-divider-color: #cbcbcb;
    @include utils.blockWrapper;
    margin-bottom: 20rem;

    @include media.breakpoint(mobile) {
      margin-bottom: 6rem;
    }
  }

  .licenses__content {
    @include utils.blockContent;
    display: flex;
    flex-direction: column;
    padding-top: 0;

    @include media.breakpoint(mobile) {
      padding-top: 0;
    }
  }

  .licenses__title {
    max-width: 70rem;

    @include media.breakpoint(mobile) {
      max-width: 35.3rem;
    }
  }

  .licenses__controls {
    margin-top: 8rem;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    min-height: 6rem;

    @include media.breakpoint(mobile) {
      margin-top: 3.2rem;
      min-height: 4rem;
      align-items: center;
    }
  }

  .licenses__subtitle {
    opacity: 0;
    pointer-events: none;
    display: flex;
    align-items: baseline;
    gap: 0.3rem;

    @include media.breakpoint(mobile) {
      opacity: 1;
      pointer-events: auto;
    }
  }

  .licenses__subtitle .swiper-pagination-current {
    color: #161616;
  }

  .licenses__subtitle .swiper-pagination-total {
    color: #d3d3d3;
    font-size: 0.9675rem;
    letter-spacing: -0.0097rem;
  }

  .licenses__slider {
    margin-top: 4rem;

    @include media.breakpoint(mobile) {
      margin-top: 2rem;
    }

    .swiper {
      overflow: hidden;
      position: relative;

      &::after {
        content: "";
        position: absolute;
        inset: 0;
        pointer-events: none;
        border: 1px solid var(--licenses-divider-color);
        z-index: 10;
      }

      @include media.breakpoint(mobile) {
        overflow: visible;
        &::after {
          display: none;
        }
      }
    }

    .swiper-slide {
      width: 20%;
      box-sizing: border-box;
      position: relative;
      display: flex;
      flex-direction: column;
      height: auto;
      border-right: none;

      &::after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        width: 1px;
        height: 100%;
        background-color: var(--licenses-divider-color);
        pointer-events: none;
      }

      &:last-child {
        &::after {
          display: none;
        }
      }

      @include media.breakpoint(mobile) {
        width: 17.5rem;
        border: 1px solid var(--licenses-divider-color);
        border-right-color: transparent;
        &::after {
          display: none;
        }

        &:last-child {
          border-right-color: var(--licenses-divider-color);
        }
      }
    }
  }

  .licenses__slider-nav {
    .slider-nav__arrow {
      @include media.breakpoint(mobile) {
        background-color: #fff;
        border-color: var(--licenses-divider-color);
      }

      @include media.breakpoint(mobile) {
        svg {
          fill: #161616;
        }
      }

      &.swiper-button-disabled {
        @include media.breakpoint(mobile) {
          background-color: #fff;
          border-color: var(--licenses-divider-color);

          svg {
            opacity: 0.45;
          }
        }
      }
    }
  }
}
