@use "utils";
@use "media";

@layer sections {
  .patients {
    @include utils.blockWrapper;
    padding-block: 8rem;
    background-color: #eaeaea;
    margin-bottom: 12rem;

    @include media.breakpoint(mobile) {
      padding-top: 6rem;
      padding-bottom: 6rem;
    }
  }

  .patients__content {
    @include utils.blockContent;
    display: flex;
    flex-direction: column;
  }

  .patients__heading-block {
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }

  .patients__subtitle {
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    color: #161616;
  }

  .patients__heading {
    margin: 0;

    @include media.breakpoint(mobile) {
      margin-top: 0;
    }
  }

  .patients__reviews {
    margin-top: 8rem;

    @include media.breakpoint(mobile) {
      margin-top: 4rem;
    }
  }

  .patients__reviews-top-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 3.2rem;
    margin-bottom: 4rem;

    @include media.breakpoint(mobile) {
      margin-bottom: 2rem;
    }
  }

  .patients__reviews-title {
    font-size: 2rem;
    font-style: normal;
    font-weight: 900;
    line-height: 120%;
    letter-spacing: -0.02rem;
    color: #111;
    text-transform: uppercase;
    opacity: 0;

    @include media.breakpoint(mobile) {
      font-size: 1.5rem;
      font-style: normal;
      font-weight: 900;
      line-height: 120%;
      letter-spacing: -0.015rem;
      text-transform: uppercase;
      opacity: 1;
    }
  }

  .patients__reviews-nav {
    margin-left: auto;
  }

  .patients__reviews-slider-wrapper {
    .swiper {
      @include media.breakpoint(mobile) {
        overflow: visible;
      }
    }

    .swiper-slide {
      display: flex;
      flex-direction: column;
      height: auto;
      box-sizing: border-box;
      width: 25%;
      border-right: 1px solid #f3f3f3;
      &:last-child {
        border-right: none;
      }

      @include media.breakpoint(mobile) {
        width: 26rem;
        border-right: none;
      }
    }
  }

  .patients__show-more {
    margin-top: 8rem;
    align-self: center;
    width: 43.9rem;
    min-height: 6rem;

    @include media.breakpoint(mobile) {
      margin-top: 4rem;
      width: 100%;
      min-height: 5rem;
    }
  }

  .patients__ratings {
    margin-top: 8rem;
    display: flex;
    flex-direction: column;
  }

  .patients__ratings-heading {
    font-size: 2rem;
    font-style: normal;
    font-weight: 900;
    line-height: 120%;
    letter-spacing: -0.02rem;
    text-transform: uppercase;
    color: #111;
  }

  .patients__ratings-star {
    display: grid;
    grid-template-areas: "stack";
    place-items: center;
    margin-top: 9.5rem;
    width: 40rem;
    align-self: center;

    @include media.breakpoint(mobile) {
      width: 20rem;
      margin-top: 4rem;
    }
  }

  .patients__ratings-star-image {
    grid-area: stack;
    width: 100%;
    height: auto;
  }

  .patients__ratings-star-content {
    grid-area: stack;
    z-index: 8;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 2.4rem;

    @include media.breakpoint(mobile) {
      gap: 0.6rem;
    }
  }

  .patients__ratings-star-amount {
    font-size: 12rem;
    font-style: normal;
    font-weight: 900;
    line-height: 80%;
    letter-spacing: -0.24rem;
    text-transform: uppercase;

    @include media.breakpoint(mobile) {
      font-size: 5.8519rem;
      line-height: 100%;
      letter-spacing: -0.117rem;
    }
  }

  .patients__ratings-star-text {
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    letter-spacing: -0.018rem;

    @include media.breakpoint(mobile) {
      font-size: 0.8778rem;
      font-style: normal;
      font-weight: 600;
      line-height: 120%;
      letter-spacing: -0.0088rem;
    }
  }

  .patients__ratings-slider {
    margin-top: 8rem;
    display: flex;
    flex-direction: column;
  }

  .patients__ratings-nav {
    align-self: flex-end;
    margin-bottom: 4rem;

    @include media.breakpoint(mobile) {
      margin-bottom: 2rem;
    }
  }

  .patients__ratings-slider-wrapper {
    .swiper {
      overflow: visible;
    }

    .swiper-slide {
      display: flex;
      flex-direction: column;
      height: auto;
      box-sizing: border-box;
      width: 25%;
      transition: opacity 0.4s;
      border-right: 1px solid #dcdcdc;

      &:not(.swiper-slide-visible) {
        opacity: 0.3;
      }

      &:last-child {
        border-right: none;
      }

      @include media.breakpoint(mobile) {
        width: 18.7rem;

        &:not(.swiper-slide-visible) {
          opacity: 1;
        }
      }
    }
  }

  .patients__ratings-slider-wrapper .rating-card {
    min-height: 44rem;
    padding: 4rem;
    gap: 2rem;
    grid-template-rows: auto 1fr auto;

    @include media.breakpoint(mobile) {
      min-height: 18.7rem;
      padding: 2rem;
      gap: 1rem;
    }
  }

  .patients__ratings-slider-wrapper .rating-card__stars svg {
    width: 2rem;
    height: 2rem;

    @include media.breakpoint(mobile) {
      width: 1.4rem;
      height: 1.4rem;
    }
  }

  .patients__ratings-slider-wrapper .rating-card__amount {
    font-size: 6rem;
    font-style: normal;
    font-weight: 900;
    line-height: 100%;
    letter-spacing: -0.06rem;

    @include media.breakpoint(mobile) {
      font-size: 3.2rem;
      letter-spacing: -0.032rem;
    }
  }

  .patients__ratings-slider-wrapper .rating-card__source {
    height: 3.2rem;

    @include media.breakpoint(mobile) {
      height: 1.5rem;
    }
  }
}
