@use "utils";
@use "media";

@layer sections {
  .patients {
    @include utils.blockWrapper;
    padding-block: 8rem;
    background-color: #eaeaea;
    margin-bottom: 12rem;

    @include media.breakpoint(mobile) {
      padding-block: 6rem;
      margin-bottom: 0;
    }
  }

  .patients__content {
    @include utils.blockContent;
    display: flex;
    flex-direction: column;
  }

  .patients__heading-block {
    display: flex;
    flex-direction: column;
    gap: 3rem;

    @include media.breakpoint(mobile) {
      gap: 1.5rem;
    }
  }

  .patients__subtitle {
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    color: #161616;

    @include media.breakpoint(mobile) {
      font-size: 1.5rem;
      line-height: 120%;
      letter-spacing: -0.015rem;
    }
  }

  .patients__heading {
    margin: 0;
  }

  .patients__reviews {
    margin-top: 8rem;

    @include media.breakpoint(mobile) {
      margin-top: 4rem;
    }
  }

  .patients__reviews-top-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 3.2rem;
    margin-bottom: 4rem;

    @include media.breakpoint(mobile) {
      gap: 1.6rem;
    }
  }

  .patients__reviews-title {
    font-size: 2rem;
    font-style: normal;
    font-weight: 900;
    line-height: 120%;
    letter-spacing: -0.02rem;
    color: #111;
    text-transform: uppercase;
    opacity: 0;

    @include media.breakpoint(mobile) {
      display: none;
    }
  }

  .patients__reviews-fraction {
    display: none;

    @include media.breakpoint(mobile) {
      display: flex;
    }
  }

  .patients__reviews-nav {
    margin-left: auto;

    @include media.breakpoint(mobile) {
      margin-left: 0;
    }
  }

  .patients__reviews-slider-wrapper {
    .swiper {
      @include media.breakpoint(mobile) {
        overflow: visible;
      }
    }

    .swiper-slide {
      display: flex;
      flex-direction: column;
      height: auto;
      box-sizing: border-box;
      width: 25%;
      border-right: 1px solid #eaeaea;
      transition: border-color 0.2s;

      @media (width > 640px) {
        &:nth-last-child(1 of .swiper-slide-visible) {
          border-color: transparent;
        }

        &:last-child {
          border-color: transparent;
        }
      }

      @include media.breakpoint(mobile) {
        width: 16.5rem;
      }
    }
  }

  .patients__show-more {
    margin-top: 8rem;
    align-self: center;
    width: 43.9rem;
    min-height: 6rem;
    display: grid;
    place-items: center;

    @include media.breakpoint(mobile) {
      margin-top: 4rem;
      width: 100%;
      min-height: 6rem;
      padding: 2.3rem 3rem;
      text-transform: uppercase;
    }
  }

  .patients__ratings {
    margin-top: 8rem;
    display: flex;
    flex-direction: column;

    @include media.breakpoint(mobile) {
      margin-top: 5rem;
    }
  }

  .patients__ratings-heading {
    font-size: 2rem;
    font-style: normal;
    font-weight: 900;
    line-height: 120%;
    letter-spacing: -0.02rem;
    text-transform: uppercase;
    color: #111;

    @include media.breakpoint(mobile) {
      font-size: 1.8rem;
      line-height: 100%;
      letter-spacing: -0.018rem;
      text-wrap: balance;
    }
  }

  .patients__ratings-star {
    display: grid;
    grid-template-areas: "stack";
    place-items: center;
    margin-top: 9.5rem;
    width: 40rem;
    align-self: center;

    @include media.breakpoint(mobile) {
      margin-top: 4rem;
      width: auto;
    }
  }

  .patients__ratings-star-image {
    grid-area: stack;
    width: 100%;
    height: auto;
    @include media.breakpoint(mobile) {
      width: 19rem;
    }
  }

  .patients__ratings-star-content {
    grid-area: stack;
    z-index: 8;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 2.4rem;

    @include media.breakpoint(mobile) {
      gap: 0.6rem;
      width: 17.5rem;
    }
  }

  .patients__ratings-star-amount {
    font-size: 12rem;
    font-style: normal;
    font-weight: 900;
    line-height: 80%;
    letter-spacing: -0.24rem;
    text-transform: uppercase;

    @include media.breakpoint(mobile) {
      font-size: 5.8519rem;
      line-height: 100%;
      letter-spacing: -0.117rem;
    }
  }

  .patients__ratings-star-text {
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    letter-spacing: -0.018rem;

    @include media.breakpoint(mobile) {
      font-size: 1.4rem;
      font-weight: 600;
      letter-spacing: -0.014rem;
      width: 25rem;
    }
  }

  .patients__ratings-slider {
    margin-top: 8rem;
    display: flex;
    flex-direction: column;

    @include media.breakpoint(mobile) {
      margin-top: 4rem;
    }
  }

  .patients__ratings-controls {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 4rem;

    @include media.breakpoint(mobile) {
      justify-content: space-between;
    }
  }

  .patients__ratings-fraction {
    display: none;

    @include media.breakpoint(mobile) {
      display: flex;
    }
  }

  .patients__ratings-nav {
    margin-left: auto;
  }

  .patients__ratings-slider-wrapper {
    .swiper {
      overflow: visible;
    }

    .swiper-slide {
      display: flex;
      flex-direction: column;
      height: auto;
      box-sizing: border-box;
      width: 25%;
      transition:
        opacity 0.4s,
        border-color 0.2s;
      border-right: 1px solid #eaeaea;

      transition:
        border-color 0.2s,
        opacity 0.4s;

      &:nth-last-child(1 of .swiper-slide-visible) {
        border-color: transparent;
      }

      &:last-child {
        border-color: transparent;
      }

      &:not(.swiper-slide-visible) {
        opacity: 0.3;
      }

      @include media.breakpoint(mobile) {
        width: 18.7rem;
        &:not(.swiper-slide-visible) {
          opacity: 1;
        }
      }
    }
  }

  .patients__reviews-nav .slider-nav__arrow,
  .patients__ratings-nav .slider-nav__arrow {
    @include media.breakpoint(mobile) {
      background-color: transparent;
      border-color: #d3d3d3;

      svg {
        fill: #161616;
      }
    }
  }

  .patients__reviews-nav .slider-nav__arrow.swiper-button-disabled,
  .patients__ratings-nav .slider-nav__arrow.swiper-button-disabled {
    @include media.breakpoint(mobile) {
      border-color: #d3d3d3;
    }
  }
}
