@use "utils";
@use "media";

@layer sections {
  .promo {
    @include utils.blockWrapper;
    margin-bottom: 15rem;

    @include media.breakpoint(mobile) {
      margin-bottom: 6rem;
    }
  }

  .promo__content {
    @include utils.blockContent;
    container-type: inline-size;
  }

  .promo__large-heading {
    text-align: center;
    font-size: 9.241cqw;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    font-weight: 900;
    line-height: 100%;

    @include media.breakpoint(mobile) {
      font-size: 9.23cqw;
    }
  }

  .promo__subheading {
    text-align: center;
    font-size: 4.5rem;
    font-style: normal;
    font-weight: 900;
    line-height: 120%;
    letter-spacing: -0.045rem;
    text-transform: uppercase;
    margin-top: 4rem;

    @include media.breakpoint(mobile) {
      margin-top: 3.2rem;
      font-size: 1.8rem;
      line-height: 100%;
      letter-spacing: -0.018rem;
      text-align: left;
    }
  }

  .promo__slider {
    margin-top: 8rem;
    display: flex;
    flex-direction: column;

    @include media.breakpoint(mobile) {
      margin-top: 3.2rem;
    }

    .swiper-slide {
      display: flex;
      flex-direction: column;
      height: auto;
      box-sizing: border-box;
      width: 50%;
      border-right: 1px solid #d3d3d3;
      &:last-child {
        border-right: none;
      }

      @include media.breakpoint(mobile) {
        width: 100%;
        border-right: none;
      }
    }
  }

  .promo__slider-wrapper {
    position: relative;

    .swiper {
      overflow: hidden;
    }

    &::after {
      content: "";
      inset: 0;
      border: 1px solid #d3d3d3;
      pointer-events: none;
      position: absolute;
      z-index: 10;
    }

    @include media.breakpoint(mobile) {
      &::after {
        display: none;
      }
    }
  }

  .promo__controls {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 4rem;

    @include media.breakpoint(mobile) {
      align-items: center;
      justify-content: space-between;
      margin-bottom: 2rem;
    }
  }

  .promo__controls .swiper-pagination-fraction {
    display: none;

    @include media.breakpoint(mobile) {
      display: flex;
    }
  }
}
