@use "utils";
@use "media";

@layer sections {
  .service {
    @include utils.blockWrapper;
    margin-bottom: 12rem;
    padding-top: 12rem;

    @include media.breakpoint(mobile) {
      margin-bottom: 6rem;
      padding-top: 4rem;
    }
  }

  .service__content {
    @include utils.blockContent;
    display: grid;
    grid-template-columns: repeat(8, minmax(0, 1fr));
  }

  .service__left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    grid-column: 1 / 4;
  }

  .service__top {
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
  }

  .service__title {
    letter-spacing: -0.08rem;
    text-wrap: balance;
  }

  .service__desc {
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    letter-spacing: -0.018rem;
    color: #161616;
    // max-width: 64.2rem;
    text-wrap: balance;
  }

  .service__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: stretch;
    width: 100%;
  }

  .service__right {
    display: flex;
    flex-direction: column;
    grid-column: 5 / -1;
  }

  .service__list {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .service__list-item {
    border-top: 1px solid #d3d3d3;
  }

  .service__list-item:last-child {
    border-bottom: 1px solid #d3d3d3;
  }

  .service__card {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    padding: 4rem 0;

    @include media.breakpoint(mobile) {
      padding: 1.6rem 0;
    }
  }

  .service__card-left {
    display: flex;
    align-items: center;
    gap: 4rem;
  }

  .service__card-icon {
    flex-shrink: 0;
    width: 4rem;
    height: 4rem;
    object-fit: contain;
    @include media.breakpoint(mobile) {
      width: 2.5rem;
      height: 2.5rem;
    }
  }

  .service__card-title {
    flex-shrink: 0;
    font-size: 2rem;
    font-style: normal;
    font-weight: 900;
    line-height: 100%;
    letter-spacing: -0.02rem;
    text-transform: uppercase;
    color: #161616;

    @include media.breakpoint(mobile) {
      font-size: 1.6rem;
      letter-spacing: -0.016rem;
    }
  }

  .service__card-text {
    flex: 1 1 auto;
    min-width: 0;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    color: #161616;

    @include media.breakpoint(mobile) {
      font-size: 1.4rem;
      line-height: 140%;
    }
  }

  @include media.breakpoint(mobile) {
    .service__content {
      display: flex;
      flex-direction: column;
      gap: 4rem;
    }

    .service__left {
      display: contents;
    }

    .service__top {
      order: 1;
      gap: 1.5rem;
    }

    .service__desc {
      max-width: 32.4rem;
      font-size: 1.4rem;
      line-height: 120%;
      letter-spacing: -0.014rem;
      text-wrap: initial;
    }

    .service__title {
      letter-spacing: -0.04rem;
      text-wrap: initial;
    }

    .service__right {
      order: 2;
      grid-column: auto;
    }

    .service__btn {
      order: 3;
    }

    .service__card {
      grid-template-columns: 2.5rem minmax(0, 1fr);
      column-gap: 1.8rem;
      align-items: flex-start;
    }

    .service__card-left {
      display: contents;
    }

    .service__card-icon {
      grid-column: 1;
      grid-row: 1 / 3;
      align-self: center;
    }

    .service__card-title {
      grid-column: 2;
      margin-bottom: 1.5rem;
    }

    .service__card-text {
      grid-column: 2;
    }
  }
}
