@use "utils";
@use "media";

@layer sections {
  .service-contraindications {
    @include utils.blockWrapper;
    background-color: #eaeaea;
    padding-bottom: 6rem;
    padding-top: 6rem;
    margin-bottom: 12rem;

    @include media.breakpoint(mobile) {
      margin-bottom: 6rem;
      padding-bottom: 3.2rem;
      padding-top: 3.2rem;
    }

    &:has(~ .service-specialists) {
      margin-bottom: 0;
    }
  }

  .service-contraindications__content {
    @include utils.blockContent;
  }

  .service-contraindications__title {
    margin: 0;
    color: #161616;
    text-wrap: balance;

    @include media.breakpoint(mobile) {
      max-width: 33.8rem;
      text-wrap: initial;
    }
  }

  .service-contraindications__title-mobile {
    display: none;

    @include media.breakpoint(mobile) {
      display: block;
    }
  }

  .service-contraindications__title-desktop {
    display: block;

    @include media.breakpoint(mobile) {
      display: none;
    }
  }

  .service-contraindications__list {
    margin-top: 8rem;
    margin-bottom: 0;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));

    @include media.breakpoint(mobile) {
      margin-top: 4rem;
      display: flex;
      flex-direction: column;
    }
  }

  .service-contraindications__item {
    display: flex;
    min-width: 0;
    border: 1px solid #d3d3d3;
    background-color: #fff;
    &:not(:nth-child(2n + 1)) {
      margin-left: -1px;
    }
    &:nth-child(n + 3) {
      margin-top: -1px;
    }

    @include media.breakpoint(mobile) {
      margin-left: 0;

      &:not(:first-child) {
        margin-top: -1px;
      }
    }
  }

  .service-contraindications__card {
    width: 100%;
    padding: 4rem;
    display: flex;
    flex-direction: column;
    gap: 4rem;

    @include media.breakpoint(mobile) {
      padding: 2.5rem 2rem;
      gap: 3.2rem;
    }
  }

  .service-contraindications__card-head {
    min-height: 4rem;
    display: flex;
    align-items: center;
    gap: 2rem;

    @include media.breakpoint(mobile) {
      height: auto;
      justify-content: space-between;
      gap: 1.6rem;
    }
  }

  .service-contraindications__icon {
    width: 4rem;
    height: 4rem;
    display: grid;
    place-items: center;
    flex-shrink: 0;
    border-radius: 50%;
    background-color: #d80027;

    @include media.breakpoint(mobile) {
      width: 3rem;
      height: 3rem;
    }
  }

  .service-contraindications__icon svg {
    width: 2rem;
    height: 2rem;
    color: #fff;
  }

  .service-contraindications__card-title {
    margin: 0;
    color: #161616;
    font-size: 1.8rem;
    font-weight: 900;
    line-height: 100%;
    letter-spacing: -0.018rem;

    @include media.breakpoint(mobile) {
      font-size: 1.3rem;
      letter-spacing: -0.013rem;
      text-align: right;
    }
  }

  .service-contraindications__points {
    margin-top: auto;
    margin-bottom: 0;
    padding-left: 2.25rem;
    list-style: disc;
    list-style-position: outside;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));

    column-gap: 4rem;
    color: #161616;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 120%;
    row-gap: 1rem;

    @include media.breakpoint(mobile) {
      padding-left: 2.1rem;
      grid-template-columns: minmax(0, 1fr);
      column-gap: 0;
      row-gap: 1.2rem;
      font-size: 1.4rem;
    }
  }
}
