@use "media";

@layer tokens {
  :root {
    --primary-color: var(--green-300);
    --text-color: #161616;
    --green-300: #4ee928;
    --green-200: #74ee55;
    --yellow-300: #faca30;
    --red: #f60a18;
    --inter: "Inter", sans-serif;
    --content-padding: 6rem;
    --container-width: 176rem;

    @include media.breakpoint(mobile) {
      --content-padding: 1.6rem;
    }
  }
}
