@use "media";

@layer components {
  .blog-card {
    position: relative;
    display: grid;
    grid-template-columns: minmax(0, 1fr);
    grid-template-areas: "stack";
    aspect-ratio: 1 / 1;
    flex-grow: 1;
    isolation: isolate;
    background-color: white;
    color: var(--text-color);
    transition: color 0.2s;

    @include media.breakpoint(mobile) {
      aspect-ratio: 343 / 225;
    }

    @include media.canHover {
      .blog-card__btn {
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        transition:
          opacity 0.2s,
          visibility 0.2s;
      }

      &:hover .blog-card__bg {
        opacity: 1;
      }

      &:hover .blog-card__bg::after {
        opacity: 1;
      }

      &:hover .blog-card__bg + .blog-card__content {
        color: white;
      }

      &:hover .blog-card__btn {
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
      }
    }
  }

  .blog-card:link,
  .blog-card:visited {
    color: var(--text-color);
  }

  .blog-card__bg {
    grid-area: stack;
    position: relative;
    opacity: 0;
    transition: opacity 0.2s;

    @include media.breakpoint(mobile) {
      position: absolute;
      inset: 0;
    }
  }

  .blog .swiper-slide-active .blog-card .blog-card__bg {
    @include media.breakpoint(mobile) {
      opacity: 1;
    }
  }

  .blog .swiper-slide-active .blog-card {
    @include media.breakpoint(mobile) {
      color: #fff;
    }
  }
  .blog .swiper-slide-active .blog-card .blog-card__bottom {
    @include media.breakpoint(mobile) {
      justify-content: space-between;
    }
  }

  .blog-card__bg::after {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(22, 22, 22, 0.6);
    opacity: 1;
    transition: opacity 0.2s;
  }

  .blog-card__bg img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .blog-card__content {
    grid-area: stack;
    z-index: 1;
    display: grid;
    grid-template-rows: 1fr auto 1fr;
    gap: 1.6rem;
    padding: 4rem;

    @include media.breakpoint(mobile) {
      padding: 2.5rem 1.6rem;
      grid-template-rows: auto 1fr auto;
      gap: 1.2rem;
    }
  }

  .blog-card__tags {
    justify-self: flex-end;
    align-self: flex-start;
    margin-top: 1.4rem;
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    @include media.breakpoint(mobile) {
      justify-self: flex-start;
      margin-top: 0;
    }
  }

  .blog-card__tag {
    font-size: 2rem;
    font-style: normal;
    font-weight: 900;
    line-height: 120%;
    letter-spacing: -0.02rem;

    @include media.breakpoint(mobile) {
      font-style: normal;
      font-weight: 900;
      line-height: 120%;
      font-size: 1.4rem;
      letter-spacing: -0.014rem;
    }
  }

  .blog-card__title {
    align-self: center;
    justify-self: center;
    font-size: 3rem;
    font-style: normal;
    font-weight: 900;
    line-height: 100%;
    letter-spacing: -0.03rem;
    text-transform: uppercase;
    text-align: center;

    @include media.breakpoint(mobile) {
      max-inline-size: none;
      font-style: normal;
      font-weight: 900;
      line-height: 100%;
      text-transform: uppercase;
      font-size: 2rem;
      letter-spacing: -0.02rem;
    }
  }

  .blog-card__bottom {
    align-self: flex-end;
    display: flex;
    justify-content: space-between;
    gap: 1.6rem;
    align-items: flex-end;

    @include media.breakpoint(mobile) {
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;
      gap: 3.2rem;
    }
  }

  .blog-card__desc {
    flex: 1 1 auto;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;

    @include media.breakpoint(mobile) {
      display: block;
      font-size: 1.3rem;
      line-height: 120%;
    }
  }

  .blog-card__btn {
    flex-shrink: 0;
    padding-inline: 6.6rem;
    text-transform: uppercase;

    @include media.breakpoint(mobile) {
      margin-top: 0;
      width: 4.5rem;
      height: 4.5rem;
      padding: 0;
      display: grid;
      place-items: center;
      opacity: 1;
      visibility: visible;
      pointer-events: auto;
    }
  }

  .blog-card__btn-text {
    display: block;

    @include media.breakpoint(mobile) {
      display: none;
    }
  }

  .blog-card__btn-icon {
    display: none;
    width: 1.3rem;
    height: 1.3rem;
    fill: currentColor;

    @include media.breakpoint(mobile) {
      display: block;
    }
  }

  .blog-card--media .blog-card__bg {
    opacity: 1;
  }

  .blog-card--media .blog-card__bg::after {
    opacity: 1;
    background: rgba(22, 22, 22, 0.5);
  }

  .blog-card--media .blog-card__play {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    background-color: var(--green-300);
    display: grid;
    place-items: center;
    z-index: 2;

    @include media.breakpoint(mobile) {
      width: 7.5rem;
      height: 7.5rem;
    }
  }

  .blog-card--media .blog-card__play svg {
    width: 100%;
    height: 100%;
    fill: #111;
  }
}
