@use "utils";
@use "media";

@layer components {
  .numbers-card {
    flex-grow: 1;
    aspect-ratio: 1 / 1;
    display: grid;
    grid-template-columns: minmax(0, 1fr);
    background-color: var(--numbers-card-bg, var(--green-300));
    color: var(--text-color);
    padding: 4rem;
    grid-template-rows: 1fr auto 1fr;
    grid-template-areas: "." "amount" "text";
    gap: 1.6rem;

    @include media.breakpoint(mobile) {
      padding: 1.8rem;
    }
  }

  li:nth-child(even),
  .swiper-slide:nth-child(even) {
    --numbers-card-bg: var(--green-200);
  }

  @include media.breakpoint(mobile) {
    li:nth-child(n),
    .swiper-slide:nth-child(n) {
      --numbers-card-bg: var(--green-300);
    }

    li:nth-child(4n - 2),
    li:nth-child(4n - 1),
    .swiper-slide:nth-child(4n - 2),
    .swiper-slide:nth-child(4n - 1) {
      --numbers-card-bg: var(--green-200);
    }
  }

  .numbers-card__amount {
    grid-area: amount;
    text-align: center;
    align-self: center;
    justify-self: center;
    text-transform: uppercase;
    white-space: nowrap;
    font-size: 6rem;
    font-style: normal;
    font-weight: 900;
    line-height: 100%;
    letter-spacing: -0.06rem;

    @include media.breakpoint(mobile) {
      font-size: 3rem;
      font-style: normal;
      font-weight: 900;
      line-height: 100%;
      letter-spacing: -0.032rem;
      white-space: normal;
    }
  }

  .numbers-card__text {
    align-self: flex-end;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    grid-area: text;

    @include media.breakpoint(mobile) {
      font-size: 1.2rem;
      font-style: normal;
      font-weight: 400;
      line-height: 100%;
    }
  }
}
