@use "utils";
@use "media";

@layer components {
  .rating-card {
    flex-grow: 1;
    background-color: #fff;
    aspect-ratio: 1 / 1;
    color: var(--text-color);
    display: grid;
    grid-template-columns: minmax(0, 1fr);
    padding: 4rem;
    grid-template-rows: auto 1fr auto;
    gap: 2rem;
    grid-template-areas: "stars" "amount" "source";

    @include media.breakpoint(mobile) {
      padding: 2.5rem 2rem;
      gap: 1.6rem;
    }
  }

  .rating-card__stars {
    --rating: 0;

    grid-area: stars;
    justify-self: flex-start;
    align-self: flex-start;
    position: relative;
    color: var(--yellow-300);
  }

  .rating-card__stars-track,
  .rating-card__stars-row {
    display: flex;
    align-items: center;
    gap: 1rem;
    width: max-content;

    @include media.breakpoint(mobile) {
      gap: 0.4rem;
    }
  }

  .rating-card__stars-track {
    color: #eaeaea;
  }

  .rating-card__stars-fill {
    position: absolute;
    inset: 0 auto 0 0;
    width: clamp(0%, calc(var(--rating) / 5 * 100%), 100%);
    overflow: hidden;
    color: var(--yellow-300);
  }

  .rating-card__stars svg {
    flex-shrink: 0;
    width: 2rem;
    height: 2rem;
    fill: currentColor;

    @include media.breakpoint(mobile) {
      width: 2.5rem;
      height: 2.5rem;
    }
  }

  .rating-card__stars-track svg,
  .rating-card__stars-row svg {
    width: 4.1rem;
    height: 4.1rem;

    @include media.breakpoint(mobile) {
      width: 2.5rem;
      height: 2.5rem;
    }
  }

  .rating-card__amount {
    align-self: center;
    justify-self: center;
    text-align: center;
    grid-area: amount;
    font-size: 6rem;
    font-style: normal;
    font-weight: 900;
    line-height: 100%;
    letter-spacing: -0.06rem;
    text-transform: uppercase;

    @include media.breakpoint(mobile) {
      font-size: 3.2rem;
      font-style: normal;
      font-weight: 900;
      line-height: 100%;
      letter-spacing: -0.032rem;
      text-transform: uppercase;
    }
  }

  .rating-card__source {
    grid-area: source;
    height: 3.2rem;
    width: auto;
    max-width: 100%;
    object-fit: contain;
    object-position: left center;
    align-self: flex-end;
    justify-self: flex-start;

    @include media.breakpoint(mobile) {
      height: 1.5rem;
    }
  }
}
