@use "utils";
@use "media";

@layer components {
  .btn {
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 900;
    line-height: 100%;
    text-transform: uppercase;
    padding: 2.25rem 4.8rem;
    align-self: center;

    background-color: var(--text-color);
    color: white;
    max-width: 100%;
    text-align: center;
    transition:
      background-color 0.2s,
      color 0.2s;

    &:link,
    &:visited {
      color: white;
    }

    @include media.canHover {
      &:hover {
        background-color: var(--green-300);
        color: var(--text-color);
      }
    }

    &--green {
      background-color: var(--green-300);
      color: var(--text-color);
      &:link,
      &:visited {
        color: var(--text-color);
      }

      @include media.canHover {
        &:hover {
          background-color: var(--green-200);
          color: var(--text-color);
        }
      }
    }

    &--dark-transparent {
      background-color: rgb(22 22 22 / 20%);
      color: white;

      &:link,
      &:visited {
        color: white;
      }

      @include media.canHover {
        &:hover {
          background-color: rgb(22 22 22 / 30%);
          color: white;
        }
      }
    }

    &--no-hover {
      @include media.canHover {
        &:hover {
          background-color: var(--text-color);
          color: white;
        }
      }
    }

    @include media.breakpoint(mobile) {
      align-self: stretch;
      width: auto;
      font-size: 1.4rem;
      font-style: normal;
      font-weight: 900;
      line-height: 100%;
      max-width: none;
      padding: 1.5rem 3.2rem;
      text-transform: none;
    }

    &--mobile-large {
      @include media.breakpoint(mobile) {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 2.3rem 3rem;
        font-size: 1.4rem;
        font-style: normal;
        font-weight: 900;
        line-height: 100%;
        text-transform: uppercase;
        white-space: nowrap;
      }
    }
  }
}
