<section class="blog">
    <div class="blog__content">
        <div class="h4 blog__subtitle">
            статьи
        </div>
        <h2 class="h2 blog__title">
            ведем блог
        </h2>
        <ul class="blog__list">
            <li class="blog__list-item">
                <a href="#" class="blog-card">
                    <div class="blog-card__bg">
                        <img src="/images/blog-card/1.webp" alt="">
                    </div>
                    <div class="blog-card__content">
                        <div class="blog-card__tags">
                            <div class="blog-card__tag">
                                # статья от врача
                            </div>
                        </div>
                        <h3 class="h3 blog-card__title">
                            хирургия катаракты
                            и&nbsp;лечение пресбиопии
                        </h3>
                        <div class="blog-card__bottom">
                            <div class="blog-card__desc">
                                В глазной клинике «ФАКТ» применяется самый современный на сегодняшний день метод
                                хирургии
                            </div>
                            <div class="large-btn blog-card__btn">
                                Подробнее
                            </div>
                        </div>
                    </div>
                </a>
            </li>
            <li class="blog__list-item">
                <a href="#" class="blog-card">
                    <div class="blog-card__bg">
                        <img src="/images/blog-card/1.webp" alt="">
                    </div>
                    <div class="blog-card__content">
                        <div class="blog-card__tags">
                            <div class="blog-card__tag">
                                # новости
                            </div>
                        </div>
                        <h3 class="h3 blog-card__title">
                            Высокоточные операции
                            на глазах доступны
                            в Пятигорске
                        </h3>
                        <div class="blog-card__bottom">
                            <div class="blog-card__desc">
                                Сложнейшие офтальмологические операции, сравнимые с ювелирной работой, теперь
                                выполняются в Пятигорске.
                            </div>
                            <div class="large-btn blog-card__btn">
                                Подробнее
                            </div>
                        </div>
                    </div>
                </a>
            </li>
            <li class="blog__list-item">
                <a href="#" class="blog-card">
                    <div class="blog-card__bg">
                        <img src="/images/blog-card/1.webp" alt="">
                    </div>
                    <div class="blog-card__content">
                        <div class="blog-card__tags">
                            <div class="blog-card__tag">
                                # справочник
                            </div>
                        </div>
                        <h3 class="h3 blog-card__title">
                            Глазная клиника «ФАКТ» — за здоровый образ жизни и спорт!
                        </h3>
                        <div class="blog-card__bottom">
                            <div class="blog-card__desc">
                                В минувшие выходные мы стали частью впечатляющего всероссийского забега «ЗОбег»,
                                организованный движением «Здоровое Отечество» в Ставрополе.
                            </div>
                            <div class="large-btn blog-card__btn">
                                Подробнее
                            </div>
                        </div>
                    </div>
                </a>
            </li>
        </ul>
        <a href="#" class="btn blog__show-all">
            Смотреть все статьи
        </a>
    </div>
</section>