<section class="clinic-services">
    <div class="clinic-services__content">
        <h2 class="clinic-services__title">
            Услуги клиники
        </h2>
        <div class="clinic-services__subtitle">
            СЕТЬ КЛИНИК ЭКСПЕРТНОЙ ОФТАЛЬМОЛОГИИ «ФАКТ» — НАХОДИМ РЕШЕНИЕ В САМЫХ СЛОЖНЫХ СЛУЧАЯХ
        </div>
        <div class="clinic-services__slider">
            <div class="swiper">
                <div class="swiper-wrapper">
                    {{#each clinicServices.sliderCards}}
                    <div class="swiper-slide">
                        {{> components/clinic-service-card }}
                    </div>
                    {{/each}}
                </div>
            </div>
        </div>
        <ul class="clinic-services__list">
            {{#each clinicServices.horizontalCards}}
            <li class="clinic-services__list-item">
                {{> components/clinic-services-horizontal-card }}
            </li>
            {{/each}}
        </ul>
        <a href="#" class="btn clinic-services__show-more">
            Смотреть все услуги
        </a>
    </div>
</section>
