<section class="clinic-services">
    <div class="clinic-services__content">
        <h2 class="clinic-services__title">
            Услуги клиники
        </h2>
        <div class="clinic-services__subtitle">
            СЕТЬ КЛИНИК ЭКСПЕРТНОЙ ОФТАЛЬМОЛОГИИ «ФАКТ» — НАХОДИМ РЕШЕНИЕ В САМЫХ СЛОЖНЫХ СЛУЧАЯХ
        </div>
        <div class="clinic-services__slider">
            <div class="swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <a href="#" class="clinic-service-card">
                            <div class="clinic-service-card__bg">
                                <img src="/images/clinic-service-card/1.webp" alt="">
                            </div>
                            <div class="clinic-service-card__top">
                                <div class="clinic-service-card__doctors">
                                    <div class="clinic-service-card__doctor">
                                        <img src="/images/clinic-service-card/doctors/1.webp" alt="">
                                    </div>
                                    <div class="clinic-service-card__doctor">
                                        <img src="/images/clinic-service-card/doctors/2.webp" alt="">
                                    </div>
                                    <div class="clinic-service-card__doctor">
                                        <img src="/images/clinic-service-card/doctors/3.webp" alt="">
                                    </div>
                                </div>
                                <div class="clinic-service-card__price">
                                    от 2200 ₽
                                </div>
                            </div>
                            <h3 class="clinic-service-card__title">
                                Диагностика
                            </h3>
                            <div class="clinic-service-card__bottom">
                                <div class="clinic-service-card__desc">
                                    Комплексное обследование на новейшем оборудовании
                                </div>
                                <div class="large-btn clinic-service-card__btn">
                                    Записаться
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#" class="clinic-service-card">
                            <div class="clinic-service-card__bg">
                                <img src="/images/clinic-service-card/1.webp" alt="">
                            </div>
                            <div class="clinic-service-card__top">
                                <div class="clinic-service-card__doctors">
                                    <div class="clinic-service-card__doctor">
                                        <img src="/images/clinic-service-card/doctors/1.webp" alt="">
                                    </div>
                                    <div class="clinic-service-card__doctor">
                                        <img src="/images/clinic-service-card/doctors/2.webp" alt="">
                                    </div>

                                </div>
                                <div class="clinic-service-card__price">
                                    от 600 ₽
                                </div>
                            </div>
                            <h3 class="clinic-service-card__title">
                                Детское отделение
                            </h3>
                            <div class="clinic-service-card__bottom">
                                <div class="clinic-service-card__desc">
                                    Диагностика и консультация ведущих детских офтальмологов РФ
                                </div>
                                <div class="large-btn clinic-service-card__btn">
                                    Записаться
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#" class="clinic-service-card">
                            <div class="clinic-service-card__bg">
                                <img src="/images/clinic-service-card/1.webp" alt="">
                            </div>
                            <div class="clinic-service-card__top">
                                <div class="clinic-service-card__doctors">
                                    <div class="clinic-service-card__doctor">
                                        <img src="/images/clinic-service-card/doctors/1.webp" alt="">
                                    </div>
                                    <div class="clinic-service-card__doctor">
                                        <img src="/images/clinic-service-card/doctors/2.webp" alt="">
                                    </div>

                                </div>
                                <div class="clinic-service-card__price">
                                    от 27 500 ₽
                                </div>
                            </div>
                            <h3 class="clinic-service-card__title">
                                Кератоконус
                            </h3>
                            <div class="clinic-service-card__bottom">
                                <div class="clinic-service-card__desc">
                                    Комплексное обследование на новейшем оборудовании с учетом возраста
                                </div>
                                <div class="large-btn clinic-service-card__btn">
                                    Записаться
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <ul class="clinic-services__list">
            <li class="clinic-services__list-item">
                <a href="#" class="clinic-services__horizontal-card">

                    <div class="clinic-services__horizontal-card-doctors">
                        <div class="clinic-services__horizontal-card-doctor">
                            <img src="/images/clinic-service-card/doctors/1.webp" alt="">
                        </div>
                        <div class="clinic-services__horizontal-card-doctor">
                            <img src="/images/clinic-service-card/doctors/2.webp" alt="">
                        </div>
                    </div>
                    <h3 class="clinic-services__horizontal-card-title">
                        Катаракта
                    </h3>


                    <div class="clinic-services__horizontal-card-text">
                        Передовые лазерные системы от ведущих мировых производителей
                    </div>
                    <div class="linic-services__horizontal-card-price">
                        от 29 500 ₽
                    </div>
                </a>
            </li>
            <li class="clinic-services__list-item">
                <a href="#" class="clinic-services__horizontal-card">

                    <div class="clinic-services__horizontal-card-doctors">
                        <div class="clinic-services__horizontal-card-doctor">
                            <img src="/images/clinic-service-card/doctors/1.webp" alt="">
                        </div>
                        <div class="clinic-services__horizontal-card-doctor">
                            <img src="/images/clinic-service-card/doctors/2.webp" alt="">
                        </div>
                    </div>
                    <h3 class="clinic-services__horizontal-card-title">
                        Лазерная коррекция
                    </h3>
                    <div class="clinic-services__horizontal-card-text">
                        Только лучшие и безопасные технологии, проверенные опытом и временем
                    </div>
                    <div class="linic-services__horizontal-card-price">
                        от 27 500 ₽
                    </div>
                </a>
            </li>
            <li class="clinic-services__list-item">
                <a href="#" class="clinic-services__horizontal-card">

                    <div class="clinic-services__horizontal-card-doctors">
                        <div class="clinic-services__horizontal-card-doctor">
                            <img src="/images/clinic-service-card/doctors/1.webp" alt="">
                        </div>
                        <div class="clinic-services__horizontal-card-doctor">
                            <img src="/images/clinic-service-card/doctors/3.webp" alt="">
                        </div>
                        <div class="clinic-services__horizontal-card-doctor">
                            <img src="/images/clinic-service-card/doctors/2.webp" alt="">
                        </div>
                    </div>
                    <h3 class="clinic-services__horizontal-card-title">
                        Глаукома
                    </h3>
                    <div class="clinic-services__horizontal-card-text">
                        Заболевание глаз, характеризующееся повышением внутриглазного давления
                    </div>
                    <div class="linic-services__horizontal-card-price">
                        от 10 500 ₽
                    </div>
                </a>
            </li>
            <li class="clinic-services__list-item">
                <a href="#" class="clinic-services__horizontal-card">

                    <div class="clinic-services__horizontal-card-doctors">
                        <div class="clinic-services__horizontal-card-doctor">
                            <img src="/images/clinic-service-card/doctors/1.webp" alt="">
                        </div>
                        <div class="clinic-services__horizontal-card-doctor">
                            <img src="/images/clinic-service-card/doctors/2.webp" alt="">
                        </div>
                        <div class="clinic-services__horizontal-card-doctor">
                            <img src="/images/clinic-service-card/doctors/3.webp" alt="">
                        </div>
                    </div>
                    <h3 class="clinic-services__horizontal-card-title">
                        Кератоконус
                    </h3>
                    <div class="clinic-services__horizontal-card-text">
                        Комплексное обследование на новейшем оборудовании с учетом возраста
                    </div>
                    <div class="linic-services__horizontal-card-price">
                        от 27 500 ₽
                    </div>
                </a>
            </li>
        </ul>
        <a href="#" class="btn clinic-services__show-more">
            Смотреть все услуги
        </a>
    </div>
</section>