<section class="contacts-socials">
    <div class="contacts-socials__content">
        <header class="contacts-socials__header">
            <h1 class="contacts-socials__title">
                {{contactsSocials.title}}
            </h1>
            <p class="contacts-socials__lead">
                {{contactsSocials.lead}}
            </p>
        </header>

        <ul class="contacts-socials__list">
            {{#each contactsSocials.items}}
            <li class="contacts-socials__item">
                <a class="contacts-socials__card" href="{{href}}" aria-label="{{name}}">
                    <span class="contacts-socials__icon contacts-socials__icon--{{iconType}}">
                        <img src="{{iconSrc}}" alt="{{iconAlt}}" loading="lazy">
                    </span>
                    <h2 class="contacts-socials__name">{{name}}</h2>
                    <p class="contacts-socials__followers">{{followers}}</p>
                </a>
            </li>
            {{/each}}
        </ul>
    </div>
</section>
