<section class="contacts-socials">
    <div class="contacts-socials__content">
        <header class="contacts-socials__header">
            <h2 class="contacts-socials__title">
                {{contactsSocials.title}}
            </h2>
            <p class="contacts-socials__lead">
                {{contactsSocials.lead}}
            </p>
        </header>

        <ul class="contacts-socials__list">
            {{#each contactsSocials.items}}
            <li class="contacts-socials__item">
                <a class="contacts-socials__card contacts-socials__card--{{iconType}}" href="{{href}}" aria-label="{{name}}">
                    <span class="contacts-socials__icon">
                        <svg aria-hidden="true">
                            <use xlink:href="#social-{{iconType}}"></use>
                        </svg>
                    </span>
                    <h3 class="contacts-socials__name">{{name}}</h3>
                    <p class="contacts-socials__followers">{{followers}}</p>
                </a>
            </li>
            {{/each}}
        </ul>
    </div>
</section>
