<section class="dms">
    <div class="dms__content">
        {{> components/breadcrumbs items=dms.breadcrumbs }}

        <div class="dms__main">
            <h1 class="dms__title">
                {{dms.title}}
            </h1>

            <p class="dms__lead">
                {{dms.lead}}
            </p>

            {{#each dms.blocks}}
            <article class="dms__block">
                <div class="dms__media">
                    {{#each images}}
                    <div class="dms__media-item">
                        <img src="{{src}}" alt="{{alt}}">
                    </div>
                    {{/each}}
                </div>

                <div class="dms__text">
                    <h2 class="dms__block-title">
                        {{title}}
                    </h2>
                    <div class="dms__paragraphs">
                        {{#each paragraphs}}
                        <p>{{this}}</p>
                        {{/each}}
                    </div>
                </div>
            </article>
            {{/each}}
        </div>
    </div>
</section>
