<section class="doctors">
    <div class="doctors__content">
        <h2 class="h2 doctors__title">
            Наши врачи
        </h2>
        <div class="doctors__subtitle">
            С заботой о вашем зрении
        </div>
        <div class="doctors__row">
            <div class="tabs-nav doctors__tabs-nav">
                <ul class="tabs-nav__list">
                    {{#each doctors.tabs}}
                    <li class="tabs-nav__list-item">
                        <button class="tabs-nav__btn{{#if @first}} active{{/if}}" type="button">
                            {{title}}
                        </button>
                    </li>
                    {{/each}}
                </ul>
            </div>
            <div class="doctors__controls">
                <div class="doctors__fraction" aria-live="polite"></div>
                <div class="slider-nav doctors__slider-nav">
                    <button class="slider-nav__arrow slider-nav__arrow--prev" type="button">
                        <svg width="14" height="14" aria-hidden="true">
                            <use xlink:href="#arrow-left"></use>
                        </svg>
                        <svg class="slider-nav__arrow-icon--bold" aria-hidden="true">
                            <use xlink:href="#arrow-left-bold"></use>
                        </svg>
                    </button>
                    <button class="slider-nav__arrow slider-nav__arrow--next" type="button">
                        <svg width="14" height="14" aria-hidden="true">
                            <use xlink:href="#arrow-right"></use>
                        </svg>
                        <svg class="slider-nav__arrow-icon--bold" aria-hidden="true">
                            <use xlink:href="#arrow-right-bold"></use>
                        </svg>
                    </button>
                </div>
            </div>
        </div>
        <div class="doctors__tabs">
            {{#each doctors.tabs}}
            <div class="doctors__tabs-item{{#if @first}} active{{/if}}">
                <div class="doctors__slider">
                    <div class="swiper">
                        <div class="swiper-wrapper">
                            {{#each cards}}
                            <div class="swiper-slide">
                                {{> components/doctor-card }}
                            </div>
                            {{/each}}
                        </div>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
        <a href="{{doctors.allLink.href}}" class="btn btn--mobile-large doctors__all-link">
            {{doctors.allLink.text}}
        </a>
    </div>
</section>
