<section id="appointment" class="first-visit{{#if className}} {{className}}{{/if}}">
    <div class="first-visit__content">
        <div class="first-visit__left">
            <h2 class="h2 first-visit__title">
                первичный<br>
                прием
            </h2>
            <div class="first-visit__description">
                Один визит в&nbsp;клинику приблизит вас к&nbsp;решению проблемы.<br> Запишитесь на&nbsp;первичный приём
                к&nbsp;офтальмологу, заполнив короткую форму
            </div>
        </div>
        <div class="first-visit__right">
            <form action="/" method="POST" class="first-visit__form js-form">
                <div class="first-visit__form-fields">
                    <div class="first-visit__form-field">
                        <div class="first-visit__form-input-wrapper">
                            <input type="text" class="first-visit__form-input" name="your-name" required
                                placeholder="Имя*">
                        </div>
                    </div>
                    <div class="first-visit__form-field">
                        <div class="first-visit__form-input-wrapper">
                            <input type="tel" class="first-visit__form-input" name="your-phone" required
                                placeholder="Телефон*">
                        </div>
                    </div>
                </div>
                <div class="first-visit__form-actions">
                    <div class="first-visit__form-policy">
                        Нажимая кнопку, вы соглашаетесь с условиями обработки
                        персональных данных и <a href="#">Политикой конфиденциальности</a>
                    </div>
                    <button class="btn btn--mobile-large first-visit__form-submit" type="submit">записаться на диагностику</button>
                </div>
            </form>
        </div>
    </div>
</section>
