<section id="appointment" class="first-visit">
    <div class="first-visit__content">
        <div class="first-visit__left">
            <h2 class="h2 first-visit__title">
                первичный<br>
                прием
            </h2>
            <div class="first-visit__description">
                Один визит в клинику приблизит вас к решению проблемы.<br>
                Запишитесь на первичный приём к офтальмологу, заполнив короткую форму
            </div>
        </div>
        <div class="first-visit__right">
            <form action="/" method="POST" class="first-visit__form">
                <div class="first-visit__form-fields">
                    <label class="first-visit__form-field">
                        <span class="first-visit__form-label">Имя*</span>
                        <input type="text" class="first-visit__form-input" name="your-name" required>
                    </label>
                    <label class="first-visit__form-field">
                        <span class="first-visit__form-label">Телефон*</span>
                        <input type="tel" class="first-visit__form-input" name="your-phone" required>
                    </label>
                </div>
                <div class="first-visit__form-actions">
                    <div class="first-visit__form-policy">
                        Нажимая кнопку, вы соглашаетесь с условиями обработки
                        персональных данных и <a href="#">Политикой конфиденциальности</a>
                    </div>
                    <button class="btn first-visit__form-submit" type="submit">записаться на диагностику</button>
                </div>
            </form>
        </div>
    </div>
</section>
