<section class="first-visit">
    <div class="first-visit__content">
        <div class="first-visit__left">
            <div class="h4 first-visit__subtitle">
                запись на
            </div>
            <h2 class="h2 first-visit__title">
                первичный<br>
                прием
            </h2>
            <div class="first-visit__remark">
                один визит в клинику приблизит вас к решению проблемы
            </div>
        </div>
        <div class="first-visit__right">
            <form action="/" method="POST" class="first-visit__form">
                <div class="first-visit__form-fields">
                    <div class="first-visit__form-field">
                        <div class="first-visit__form-input-wrapper">
                            <input type="text" class="first-visit__form-input" name="your-name" placeholder="имя*"
                                required>
                        </div>
                    </div>
                    <div class="first-visit__form-field">
                        <div class="first-visit__form-input-wrapper">
                            <input type="tel" class="first-visit__form-input" name="your-phone" placeholder="телефон*"
                                required>
                        </div>
                    </div>
                </div>
                <div class="first-visit__form-policy">
                    Нажимая кнопку, вы соглашаетесь с условиями обработки
                    персональных данных и <a href="#">Политикой конфиденциальности</a>
                </div>
                <button class="btn btn--green first-visit__form-submit" type="submit">записаться на диагностику</button>
            </form>
        </div>
    </div>
</section>