<section class="help">
    <div class="help__content">
        <h2 class="help__heading">
            Помогаем в случаях,<br> когда другие клиники бессильны
        </h2>
        <ul class="help__list">
            <li class="help__list-item">
                <div class="numbers-card">
                    <div class="numbers-card__amount">
                        3
                    </div>
                    <div class="numbers-card__text">
                        витреоретинальных хирурга
                    </div>
                </div>
            </li>
            <li class="help__list-item">
                <div class="numbers-card">
                    <div class="numbers-card__amount">
                        8
                    </div>
                    <div class="numbers-card__text">
                        врачей высшей категории
                    </div>
                </div>
            </li>
            <li class="help__list-item">
                <div class="numbers-card">
                    <div class="numbers-card__amount">
                        6
                    </div>
                    <div class="numbers-card__text">
                        кандидатов медицинских наук
                    </div>
                </div>
            </li>
            <li class="help__list-item">
                <div class="numbers-card">
                    <div class="numbers-card__amount">
                        2
                    </div>
                    <div class="numbers-card__text">
                        доктора медицинских наук
                    </div>
                </div>
            </li>
        </ul>
    </div>
</section>