<section class="intro">
    <div class="intro__top">
        <div class="intro__top-bg">
            <picture>
                {{#if intro.background.mobileSrc}}
                <source srcset="{{intro.background.mobileSrc}}" media="(max-width: 640px)" />
                {{/if}}
                <img src="{{intro.background.src}}" alt="{{intro.background.alt}}">
            </picture>
        </div>

        <div class="intro__top-content">
            {{#if intro.breadcrumbs}}
            <div class="intro__breadcrumbs">
                {{> components/breadcrumbs items=intro.breadcrumbs }}
            </div>
            {{/if}}

            <h1 class="intro__top-heading">
                {{{intro.title}}}
            </h1>
            <div class="intro__top-text">
                {{{intro.text}}}
            </div>
            <div class="intro__wrapper">
                <a href="{{intro.button.href}}" class="btn intro__callback-btn">
                    {{intro.button.text}}
                </a>
                {{#if intro.showSliderNav}}
                <div class="slider-nav slider-nav--white intro__slider-nav">
                    <button class="slider-nav__arrow slider-nav__arrow--prev" type="button">
                        <svg width="14" height="14" aria-hidden="true">
                            <use xlink:href="#arrow-left"></use>
                        </svg>
                        <svg class="slider-nav__arrow-icon--bold" aria-hidden="true">
                            <use xlink:href="#arrow-left-bold"></use>
                        </svg>
                    </button>
                    <button class="slider-nav__arrow slider-nav__arrow--next" type="button">
                        <svg width="14" height="14" aria-hidden="true">
                            <use xlink:href="#arrow-right"></use>
                        </svg>
                        <svg class="slider-nav__arrow-icon--bold" aria-hidden="true">
                            <use xlink:href="#arrow-right-bold"></use>
                        </svg>
                    </button>
                </div>
                {{/if}}
                {{#if intro.social}}
                <div class="intro__social">
                    {{#each intro.social}}
                    <a href="#" class="intro__social-link">
                        <svg width="14" height="14" aria-hidden="true">
                            <use xlink:href="#{{icon}}"></use>
                        </svg>
                    </a>
                    {{/each}}
                </div>
                {{/if}}
            </div>
        </div>


    </div>
    {{#if intro.numbers}}
    <div class="intro__bottom">
        <div class="intro__bottom-content">
            <div class="intro__slider">
                <div class="swiper">
                    <div class="swiper-wrapper">
                        {{#each intro.numbers}}
                        <div class="swiper-slide">
                            <div class="numbers-card">
                                <div class="numbers-card__amount numbers-card__amount--medium">
                                    {{amount}}
                                </div>
                                <div class="numbers-card__text">
                                    {{{text}}}
                                </div>
                            </div>
                        </div>
                        {{/each}}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{/if}}
</section>
