<section class="intro">
    <div class="intro__top">
        <div class="intro__top-bg">
            <picture>
                <source srcset="/images/intro/bg-mobile.webp" media="(width <= 640px)" />
                <img src="/images/intro/bg.webp" alt="">
            </picture>
        </div>

        <div class="intro__top-content">
            <h1 class="intro__top-heading">
                Лучшее<br> расставание<br> в жизни
            </h1>
            <div class="intro__top-text">
                Лазерная коррекция зрения
            </div>
            <div class="intro__wrapper">
                <a href="#" class="btn intro__callback-btn">
                    Записаться на приём
                </a>
                <div class="slider-nav slider-nav--white intro__slider-nav">
                    <button class="slider-nav__arrow slider-nav__arrow--prev" type="button">
                        <svg width="14" height="14" aria-hidden="true">
                            <use xlink:href="#arrow-left"></use>
                        </svg>
                    </button>
                    <button class="slider-nav__arrow slider-nav__arrow--next" type="button">
                        <svg width="14" height="14" aria-hidden="true">
                            <use xlink:href="#arrow-right"></use>
                        </svg>
                    </button>
                </div>
                <div class="intro__social">
                    <a href="#" class="intro__social-link">
                        <svg width="14" height="14" aria-hidden="true">
                            <use xlink:href="#whatsapp"></use>
                        </svg>
                    </a>
                    <a href="#" class="intro__social-link">
                        <svg width="14" height="14" aria-hidden="true">
                            <use xlink:href="#telegram"></use>
                        </svg>
                    </a>
                </div>
            </div>
        </div>


    </div>
    <div class="intro__bottom">
        <div class="intro__bottom-content">
            <div class="intro__slider">
                <div class="swiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="numbers-card">
                                <div class="numbers-card__amount numbers-card__amount--medium">
                                    40 000+
                                </div>
                                <div class="numbers-card__text">
                                    проведенных операций
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="numbers-card">
                                <div class="numbers-card__amount numbers-card__amount--medium">
                                    60 000+
                                </div>
                                <div class="numbers-card__text">
                                    довольных пациентов
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="numbers-card">
                                <div class="numbers-card__amount numbers-card__amount--medium">
                                    1000+
                                </div>
                                <div class="numbers-card__text">
                                    положительных отзывов
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="numbers-card">
                                <div class="numbers-card__amount numbers-card__amount--medium">
                                    300+
                                </div>
                                <div class="numbers-card__text">
                                    офтальмологических услуг
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="numbers-card">
                                <div class="numbers-card__amount numbers-card__amount--medium">
                                    40 000+
                                </div>
                                <div class="numbers-card__text">
                                    проведенных операций
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="numbers-card">
                                <div class="numbers-card__amount numbers-card__amount--medium">
                                    60 000+
                                </div>
                                <div class="numbers-card__text">
                                    довольных пациентов
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>