<section class="licenses-page" data-licenses-page>
    <div class="licenses-page__content">
        {{> components/breadcrumbs items=licensesPage.breadcrumbs }}

        <h1 class="licenses-page__title">
            {{licensesPage.title}}
        </h1>

        <ul class="licenses-page__grid">
            {{#each licensesPage.items}}
            <li class="licenses-page__item" data-license-page-card>
                {{> components/license-card fancybox="licenses-page" }}
            </li>
            {{/each}}
        </ul>

        {{#if licensesPage.hasMore}}
        <button class="btn licenses-page__more" type="button" data-licenses-page-more>
            Показать еще
        </button>
        {{/if}}
    </div>
</section>
