<section class="licenses">
    <div class="licenses__content">
        <h2 class="h2 licenses__title">
            лицензии<br>
            и сертификаты
        </h2>

        <div class="licenses__controls">
            <span class="h4 licenses__subtitle" aria-hidden="true">
                лицензии
            </span>
            <div class="slider-nav licenses__slider-nav">
                <button class="slider-nav__arrow slider-nav__arrow--prev" type="button" aria-label="Предыдущий слайд">
                    <svg width="14" height="14" aria-hidden="true">
                        <use xlink:href="#arrow-left"></use>
                    </svg>
                </button>
                <button class="slider-nav__arrow slider-nav__arrow--next" type="button" aria-label="Следующий слайд">
                    <svg width="14" height="14" aria-hidden="true">
                        <use xlink:href="#arrow-right"></use>
                    </svg>
                </button>
            </div>
        </div>

        <div class="licenses__slider">
            <div class="swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <a href="/images/license-card/1.webp" class="license-card" data-fancybox="licenses">
                            <span class="license-card__media">
                                <img src="/images/license-card/1.webp" alt="Лицензия клиники Факт">
                            </span>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="/images/license-card/4.webp" class="license-card" data-fancybox="licenses">
                            <span class="license-card__media">
                                <img src="/images/license-card/4.webp" alt="Сертификат клиники Факт">
                            </span>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="/images/license-card/2.webp" class="license-card" data-fancybox="licenses">
                            <span class="license-card__media">
                                <img src="/images/license-card/2.webp" alt="Лицензия клиники Факт">
                            </span>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="/images/license-card/3.webp" class="license-card" data-fancybox="licenses">
                            <span class="license-card__media">
                                <img src="/images/license-card/3.webp" alt="Лицензия клиники Факт">
                            </span>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="/images/license-card/4.webp" class="license-card" data-fancybox="licenses">
                            <span class="license-card__media">
                                <img src="/images/license-card/4.webp" alt="Сертификат клиники Факт">
                            </span>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="/images/license-card/1.webp" class="license-card" data-fancybox="licenses">
                            <span class="license-card__media">
                                <img src="/images/license-card/1.webp" alt="Лицензия клиники Факт">
                            </span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>