<section class="patents-page">
    <div class="patents-page__content">
        <div class="patents-page__head">
            {{> components/breadcrumbs items=patentsPage.breadcrumbs }}

            <h1 class="patents-page__title">
                {{patentsPage.title}}
            </h1>
        </div>

        <ul class="patents-page__list">
            {{#each patentsPage.items}}
            <li class="patents-page__item">
                <a class="patents-page__item-link" href="{{href}}" download aria-label="Скачать {{title}}">
                    <span class="patents-page__item-text">
                        <span class="patents-page__item-title">
                            {{title}}
                        </span>
                        <span class="patents-page__item-meta">
                            {{meta}}
                        </span>
                    </span>
                    <span class="patents-page__download">
                        <svg width="16" height="16" aria-hidden="true">
                            <use xlink:href="#download"></use>
                        </svg>
                    </span>
                </a>
            </li>
            {{/each}}
        </ul>
    </div>
</section>
