<section class="patients">
    <div class="patients__content">
        <div class="h4 patients__subtitle">
            Отзывы
        </div>
        <h2 class="h2 patients__heading">
            Пациенты о&nbsp;нас
        </h2>
        <div class="patients__slider">
            <div class="patients__slider-top-row">
                <h3 class="patients__slider-title">
                    Видеоотзывы
                </h3>
                <div class="slider-nav">
                    <button class="slider-nav__arrow slider-nav__arrow--prev" type="button">
                        <svg width="14" height="14" aria-hidden="true">
                            <use xlink:href="#arrow-left"></use>
                        </svg>
                    </button>
                    <button class="slider-nav__arrow slider-nav__arrow--next" type="button">
                        <svg width="14" height="14" aria-hidden="true">
                            <use xlink:href="#arrow-right"></use>
                        </svg>
                    </button>
                </div>
            </div>
            <div class="patients__slider-wrapper">
                <div class="swiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <a href="#" class="video-review-card">
                                <div class="video-review-card__bg">
                                    <img src="/images/patients/1.webp" alt="">
                                </div>
                                <div class="video-review-card__play">
                                    <svg width="14" height="14" aria-hidden="true">
                                        <use xlink:href="#play"></use>
                                    </svg>
                                </div>
                                <h4 class="video-review-card__title">
                                    Наталья, 57 лет
                                </h4>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" class="video-review-card">
                                <div class="video-review-card__bg">
                                    <img src="/images/patients/2.webp" alt="">
                                </div>
                                <div class="video-review-card__play">
                                    <svg width="14" height="14" aria-hidden="true">
                                        <use xlink:href="#play"></use>
                                    </svg>
                                </div>
                                <h4 class="video-review-card__title">
                                    Григорий, 32 года
                                </h4>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" class="video-review-card">
                                <div class="video-review-card__bg">
                                    <img src="/images/patients/3.webp" alt="">
                                </div>
                                <div class="video-review-card__play">
                                    <svg width="14" height="14" aria-hidden="true">
                                        <use xlink:href="#play"></use>
                                    </svg>
                                </div>
                                <h4 class="video-review-card__title">
                                    Маргарита, 29 лет
                                </h4>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" class="video-review-card">
                                <div class="video-review-card__bg">
                                    <img src="/images/patients/4.webp" alt="">
                                </div>
                                <div class="video-review-card__play">
                                    <svg width="14" height="14" aria-hidden="true">
                                        <use xlink:href="#play"></use>
                                    </svg>
                                </div>
                                <h4 class="video-review-card__title">
                                    Михаил, 63 года
                                </h4>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" class="video-review-card">
                                <div class="video-review-card__bg">
                                    <img src="/images/patients/1.webp" alt="">
                                </div>
                                <div class="video-review-card__play">
                                    <svg width="14" height="14" aria-hidden="true">
                                        <use xlink:href="#play"></use>
                                    </svg>
                                </div>
                                <h4 class="video-review-card__title">
                                    Наталья, 57 лет
                                </h4>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a href="#" class="btn patients__show-more">
            Смотреть все отзывы
        </a>
    </div>
</section>