<section class="ratings">
    <div class="ratings__content">
        <h2 class="ratings__heading">
            держим безупречный рейтинг более 8 лет
        </h2>
        <div class="ratings__star">
            <img src="/images/large-star.svg" alt="" class="ratings__star-image">
            <div class="ratings__star-content">
                <div class="ratings__star-amount">
                    4.9
                </div>
                <div class="ratings__star-text">
                    Средний рейтинг клиники<br> на площадках
                </div>
            </div>
        </div>
        <div class="ratings__slider">
            <div class="slider-nav ratings__slider-nav">
                <button class="slider-nav__arrow slider-nav__arrow--prev" type="button">
                    <svg width="14" height="14" aria-hidden="true">
                        <use xlink:href="#arrow-left"></use>
                    </svg>
                </button>
                <button class="slider-nav__arrow slider-nav__arrow--next" type="button">
                    <svg width="14" height="14" aria-hidden="true">
                        <use xlink:href="#arrow-right"></use>
                    </svg>
                </button>
            </div>
            <div class="ratings__slider-wrapper">
                <div class="swiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="rating-card">
                                <div class="rating-card__stars">
                                    <svg width="14" height="14" aria-hidden="true">
                                        <use xlink:href="#star"></use>
                                    </svg>
                                </div>
                                <div class="rating-card__amount">
                                    5.0
                                </div>
                                <img src="/images/ratings/1.webp" alt="" class="rating-card__source">
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="rating-card">
                                <div class="rating-card__stars">
                                    <svg width="14" height="14" aria-hidden="true">
                                        <use xlink:href="#star"></use>
                                    </svg>
                                </div>
                                <div class="rating-card__amount">
                                    4.9
                                </div>
                                <img src="/images/ratings/2.webp" alt="" class="rating-card__source">
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="rating-card">
                                <div class="rating-card__stars">
                                    <svg width="14" height="14" aria-hidden="true">
                                        <use xlink:href="#star"></use>
                                    </svg>
                                </div>
                                <div class="rating-card__amount">
                                    5.0
                                </div>
                                <img src="/images/ratings/3.webp" alt="" class="rating-card__source">
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="rating-card">
                                <div class="rating-card__stars">
                                    <svg width="14" height="14" aria-hidden="true">
                                        <use xlink:href="#star"></use>
                                    </svg>
                                </div>
                                <div class="rating-card__amount">
                                    4.7
                                </div>
                                <img src="/images/ratings/4.webp" alt="" class="rating-card__source">
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="rating-card">
                                <div class="rating-card__stars">
                                    <svg width="14" height="14" aria-hidden="true">
                                        <use xlink:href="#star"></use>
                                    </svg>
                                </div>
                                <div class="rating-card__amount">
                                    4.9
                                </div>
                                <img src="/images/ratings/2.webp" alt="" class="rating-card__source">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>