<section class="service-equipment">
    <div class="service-equipment__content">
        <h2 class="service-equipment__title">
            Оборудование
        </h2>
        <p class="service-equipment__subtitle">
            Используем передовое оборудование из&nbsp;Германии и&nbsp;США
        </p>

        <div class="service-equipment__controls">
            <button class="service-equipment__control service-equipment__control--prev" type="button"
                aria-label="Предыдущее оборудование">
                <img src="/images/service-equipment/arrow-prev.svg" alt="">
            </button>
            <button class="service-equipment__control service-equipment__control--next" type="button"
                aria-label="Следующее оборудование">
                <img src="/images/service-equipment/arrow-next.svg" alt="">
            </button>
        </div>

        <div class="service-equipment__cards">
            <article class="service-equipment__card service-equipment__card--dark">
                <img class="service-equipment__card-bg" src="/images/service-equipment/card-bg.jpg" alt=""
                    loading="lazy">
                <img class="service-equipment__card-icon" src="/images/service-equipment/plus-icon.svg" alt=""
                    loading="lazy">
                <h3 class="service-equipment__card-title">
                    FEMTO LDV Z8<br>
                    (Ziemmer, Швейцария)
                </h3>
                <ul class="service-equipment__card-list">
                    <li>передовое решение для качественной и щадящей коррекции зрения</li>
                    <li>
                        сочетание низкого уровня энергии с высокой частотой импульсов гарантирует безопасность
                        коррекции даже в самых сложных случаях
                    </li>
                    <li>позволяет создавать персонализированную программу операции для каждого пациента</li>
                </ul>
            </article>

            <article class="service-equipment__card service-equipment__card--light">
                <img class="service-equipment__card-bg" src="/images/service-equipment/card-bg.jpg" alt=""
                    loading="lazy">
                <img class="service-equipment__card-icon" src="/images/service-equipment/de-flag.svg" alt=""
                    loading="lazy">
                <h3 class="service-equipment__card-title">
                    WAVELIGHT EX500<br>
                    (Alcon, Германия)
                </h3>
                <ul class="service-equipment__card-list">
                    <li>самая быстрая лазерная система в мире</li>
                    <li>
                        позволяет выполнять лазерную коррекцию даже в самых сложных случаях, при которых ранее
                        операция была невозможна
                    </li>
                </ul>
            </article>
        </div>
    </div>
</section>