<section class="service-indications">
    <div class="service-indications__content">
        <h2 class="h2 service-indications__title">
            ПОКАЗАНИЯ<br>
            К ЛАЗЕРНОЙ КОРРЕКЦИИ
        </h2>

        <ul class="service-indications__list">
            <li class="service-indications__item">
                <article class="service-indications__card">
                    <div class="service-indications__card-head">
                        <span class="service-indications__icon" aria-hidden="true">
                            <svg aria-hidden="true">
                                <use xlink:href="#check-mark"></use>
                            </svg>
                        </span>
                        <h3 class="service-indications__card-title">Медицинские</h3>
                    </div>

                    <div class="service-indications__card-body">
                        <ul class="service-indications__points">
                            <li>Миопия (близорукость) - от -1.0 до -15.0 дптр.</li>
                            <li>Гиперметропия (дальнозоркость) - от +1.0 до +6.0 дптр.</li>
                            <li>Астигматизм - от +/- 0.5 до +/- 3.0</li>
                        </ul>
                    </div>
                </article>
            </li>

            <li class="service-indications__item">
                <article class="service-indications__card">
                    <div class="service-indications__card-head">
                        <span class="service-indications__icon" aria-hidden="true">
                            <svg aria-hidden="true">
                                <use xlink:href="#check-mark"></use>
                            </svg>
                        </span>
                        <h3 class="service-indications__card-title">Профессиональные</h3>
                    </div>

                    <p class="service-indications__card-body service-indications__text">
                        Пилоты, военные не могут быть допущены к работе, не обладая зрением высокого качества
                    </p>
                </article>
            </li>

            <li class="service-indications__item">
                <article class="service-indications__card">
                    <div class="service-indications__card-head">
                        <span class="service-indications__icon" aria-hidden="true">
                            <svg aria-hidden="true">
                                <use xlink:href="#check-mark"></use>
                            </svg>
                        </span>
                        <h3 class="service-indications__card-title">Хобби и увлечения</h3>
                    </div>

                    <p class="service-indications__card-body service-indications__text">
                        Активный образ жизни, спорт, плавание, альпинизм, туризм будут затруднены, а в некоторых
                        случаях опасны для жизни, если человек не имеет 100% зрения и вынужден использовать очки или
                        контактные линзы
                    </p>
                </article>
            </li>

            <li class="service-indications__item">
                <article class="service-indications__card">
                    <div class="service-indications__card-head">
                        <span class="service-indications__icon" aria-hidden="true">
                            <svg aria-hidden="true">
                                <use xlink:href="#check-mark"></use>
                            </svg>
                        </span>
                        <h3 class="service-indications__card-title">Личный комфорт<br>и эстетика</h3>
                    </div>

                    <p class="service-indications__card-body service-indications__text">
                        Ощущение собственной привлекательности у многих связано именно с отсутствием очков. Для других
                        очень важно избавиться от ограничивающих факторов и дискомфорта
                    </p>
                </article>
            </li>
        </ul>
    </div>
</section>