<section class="service">
    <div class="service__content">
        <div class="service__left">
            <div class="service__top">
                <h2 class="h2 service__title">
                    премиальный<br>
                    сервис
                </h2>
                <p class="service__desc">
                    с&nbsp;размещением в&nbsp;комфортном отеле на&nbsp;весь период лечения, чтобы вы&nbsp;могли
                    сосредоточиться на&nbsp;восстановлении зрения в&nbsp;спокойной и&nbsp;заботливой атмосфере
                </p>
            </div>
            <a href="#feedback-modal" class="btn btn--mobile-large service__btn">
                Записаться
            </a>
        </div>
        <div class="service__right">
            <ul class="service__list">
                <li class="service__list-item">
                    <div class="service__card">
                        <div class="service__card-left">
                            <img src="/images/service/1.svg" alt="" class="service__card-icon">
                            <h4 class="service__card-title">
                                Сопровождение 24/7
                            </h4>
                        </div>
                        <div class="service__card-text">
                            Персональный медицинский координатор поможет разобраться с планом лечения и окажет поддержку
                        </div>
                    </div>
                </li>
                <li class="service__list-item">
                    <div class="service__card">
                        <div class="service__card-left">
                            <img src="/images/service/2.svg" alt="" class="service__card-icon">
                            <h4 class="service__card-title">
                                Гарантии качества
                            </h4>
                        </div>
                        <div class="service__card-text">
                            Бесплатное сопровождение и консультации в течение 12 месяцев после операции
                        </div>
                    </div>
                </li>
                <li class="service__list-item">
                    <div class="service__card">
                        <div class="service__card-left">
                            <img src="/images/service/3.svg" alt="" class="service__card-icon">
                            <h4 class="service__card-title">
                                Комфорт
                                и забота
                            </h4>
                        </div>
                        <div class="service__card-text">
                            Уникальное пространство для самых маленьких превратит посещение клиники в увлекательное
                            приключение
                        </div>
                    </div>
                </li>
                <li class="service__list-item">
                    <div class="service__card">
                        <div class="service__card-left">
                            <img src="/images/service/4.svg" alt="" class="service__card-icon">
                            <h4 class="service__card-title">
                                Годовые программы
                            </h4>
                        </div>
                        <div class="service__card-text">
                            Медицинское сопровождение для профилактики или контроля заболевания - выгодные инвестиции с
                            заботой о близких
                        </div>
                    </div>
                </li>
                <li class="service__list-item">
                    <div class="service__card">
                        <div class="service__card-left">
                            <img src="/images/service/5.svg" alt="" class="service__card-icon">
                            <h4 class="service__card-title">
                                Собственный отель
                            </h4>
                        </div>
                        <div class="service__card-text">
                            Размещение в комфортном отеле на весь период лечения с палатами бизнесс-класса
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>
