<section class="service">
    <div class="service__content">
        <div class="service__left">
            <h3 class="h4 service__subtitle">
                принимаем пациентов из других городов
            </h3>
            <h2 class="h2 service__title">
                премиальный
                сервис
            </h2>
            <a href="#" class="btn service__btn">
                Я из другого города
            </a>
        </div>
        <div class="service__right">
            <ul class="service__list">
                <li class="service__list-item">
                    <div class="service__card">
                        <img src="/images/service/1.svg" alt="" class="service__card-icon">
                        <h4 class="service__card-title">
                            Сопровождение 24/7
                        </h4>
                        <div class="service__card-text">
                            Персональный медицинский координатор поможет разобраться с планом лечения и окажет поддержку
                        </div>
                    </div>
                </li>
                <li class="service__list-item">
                    <div class="service__card">
                        <img src="/images/service/2.svg" alt="" class="service__card-icon">
                        <h4 class="service__card-title">
                            Гарантии качества
                        </h4>
                        <div class="service__card-text">
                            Бесплатное сопровождение в течение 12 месяцев после операции
                        </div>
                    </div>
                </li>
                <li class="service__list-item">
                    <div class="service__card">
                        <img src="/images/service/3.svg" alt="" class="service__card-icon">
                        <h4 class="service__card-title">
                            Комфорт
                            и забота
                        </h4>
                        <div class="service__card-text">
                            Уникальное пространство для самых маленьких превратит посещение клиники в увлекательное
                            приключение
                        </div>
                    </div>
                </li>
                <li class="service__list-item">
                    <div class="service__card">
                        <img src="/images/service/4.svg" alt="" class="service__card-icon">
                        <h4 class="service__card-title">
                            Годовые программы
                        </h4>
                        <div class="service__card-text">
                            Медицинское сопровождение для профилактики или контроля заболевания - выгодные инвестиции с
                            заботой о близких
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>