<section class="service-contraindications">
    <div class="service-contraindications__content">
        <h2 class="h2 service-contraindications__title">
            ПРОТИВОПОКАЗАНИЯ<br>
            К ЛАЗЕРНОЙ КОРРЕКЦИИ
        </h2>

        <ul class="service-contraindications__list">
            <li class="service-contraindications__item">
                <article class="service-contraindications__card">
                    <div class="service-contraindications__card-head">
                        <span class="service-contraindications__icon" aria-hidden="true">
                            <svg aria-hidden="true">
                                <use xlink:href="#prohibition-mark"></use>
                            </svg>
                        </span>
                        <h3 class="service-contraindications__card-title">Абсолютные</h3>
                    </div>

                    <ul class="service-contraindications__points">
                        <li>Кератоконус. Истончение и изменение формы роговицы</li>
                        <li>Слишком тонка роговица. Не хватит толщины ткани для безопасного воздействия лазером</li>
                        <li>Врачи не рискуют проводить операцию на единственном зрячем глазу</li>
                        <li>Заболевания. Декомпенсированный сахарный диабет, тяжелые аутоиммунные патологии</li>
                    </ul>
                </article>
            </li>

            <li class="service-contraindications__item">
                <article class="service-contraindications__card">
                    <div class="service-contraindications__card-head">
                        <span class="service-contraindications__icon" aria-hidden="true">
                            <svg aria-hidden="true">
                                <use xlink:href="#prohibition-mark"></use>
                            </svg>
                        </span>
                        <h3 class="service-contraindications__card-title">Временные</h3>
                    </div>

                    <ul class="service-contraindications__points">
                        <li>Возраст до 18 лет. Результат операции может быть нестабильным</li>
                        <li>Повреждение сетчатки. Сначала проводят лазерное «укрепление» (коагуляцию)</li>
                        <li>Беременность и лактация. Из-за гормонального фона результаты могут быть неточными</li>
                        <li>Прогрессирующая близорукость. Если зрение падает более чем на 1 диоптрию в год</li>
                    </ul>
                </article>
            </li>
        </ul>
    </div>
</section>
