@use "utils";
@use "media";

.btn {
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 900;
  line-height: 100%;
  text-transform: uppercase;
  padding: 2.4rem 4.8rem;
  align-self: center;
  width: 44rem;
  background-color: var(--text-color);
  color: white;
  max-width: 100%;
  text-align: center;

  &:link,
  &:visited {
    color: white;
  }

  @include media.breakpoint(mobile) {
    align-self: stretch;
    width: auto;
    font-size: 1.3rem;
    font-style: normal;
    font-weight: 900;
    line-height: 100%;
    text-transform: uppercase;
    padding: 2.4rem 4.8rem;
    max-width: none;
  }
}
