@use "utils";
@use "media";

.page-footer {
  @include utils.blockWrapper;
  padding-top: 8rem;

  @include media.breakpoint(mobile) {
    padding-top: 0;
  }
}

.page-footer__content {
  @include utils.blockContent;
  display: flex;
  flex-direction: column;
}

.page-footer__bottom {
  padding-top: 3rem;
  padding-bottom: 7.8rem;
  border-top: 1px solid #eaeaea;
  display: grid;
  grid-template-columns: repeat(8, minmax(0, 1fr));
  align-items: center;

  @include media.breakpoint(mobile) {
    padding-top: 4rem;
    padding-bottom: 3.4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    text-align: center;
  }
}

.page-footer__copyright {
  grid-column: 1 / 3;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  letter-spacing: -0.024rem;
  color: black;
  @include media.breakpoint(mobile) {
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
    letter-spacing: -0.024rem;
  }
}

.page-footer__links {
  grid-column: 3 / 7;
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  align-items: center;
  @include media.breakpoint(mobile) {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    text-align: center;
  }
}

.page-footer__link {
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  letter-spacing: -0.024rem;
  color: black;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-decoration-skip-ink: none;
  text-underline-offset: 1px;
  &:link,
  &:visited {
    color: black;
  }

  @include media.breakpoint(mobile) {
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
    letter-spacing: -0.024rem;
  }
}

.page-footer__made-by {
  justify-self: flex-end;
  display: flex;
  align-items: center;
  grid-column: 7 / -1;
  gap: 2rem;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.028rem;
  color: rgb(22 22 22 / 50%);
  img {
    flex-shrink: 0;
    width: 3.6rem;
    height: auto;
  }

  @include media.breakpoint(mobile) {
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.028rem;

    img {
      width: 3.5637rem;
      height: 4.8rem;
    }
  }
}

.page-footer__middle {
  padding: 4rem 0;
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  align-items: center;

  @include media.breakpoint(mobile) {
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }
}

.page-footer__logo {
  justify-self: flex-start;
  grid-column: 1 / 2;

  img {
    display: block;
    height: auto;
    width: 18rem;
  }
}

.page-footer__slogan {
  grid-column: 2 / 4;
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  align-items: center;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  letter-spacing: -0.03rem;
  color: black;

  @include media.breakpoint(mobile) {
    display: block;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
    letter-spacing: -0.03rem;
    p {
      margin-top: 4rem;
      &:first-child {
        margin-top: 0;
      }
    }
  }
}

.page-footer__social {
  grid-column: 4 / -1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.6rem;
  @include media.breakpoint(mobile) {
    gap: 1px;
    justify-content: flex-start;
  }
}

.page-footer__social-write-list {
  display: flex;
  align-items: center;

  @include media.breakpoint(mobile) {
    display: contents;
  }
}

.page-footer__social-write-list-item {
  flex-shrink: 0;
  &:not(:first-child) {
    margin-left: -1px;
    @include media.breakpoint(mobile) {
      margin-left: 0;
    }
  }
}

.page-footer__social-write-link {
  display: grid;
  place-items: center;
  width: 6rem;
  border: 1px solid #eaeaea;
  aspect-ratio: 1 / 1;

  @include media.breakpoint(mobile) {
    width: 5.6rem;
  }

  svg {
    width: 2.4rem;
    height: 2.4rem;
    fill: var(--text-color);
    transition: fill 0.2s;
  }
}

.page-footer__social-media-list {
  display: flex;
  align-items: center;
  gap: 1px;
}

.page-footer__social-media-link {
  width: 6rem;
  aspect-ratio: 1 / 1;
  display: grid;
  place-items: center;
  background-color: var(--text-color);

  @include media.breakpoint(mobile) {
    width: 5.6rem;
  }

  svg {
    width: 2.4rem;
    height: 2.4rem;
    fill: white;
    transition: fill 0.2s;
  }
}

.page-footer__top {
  padding: 8rem 0;
  display: grid;
  grid-template-columns: repeat(8, minmax(0, 1fr));
  border-top: 1px solid #eaeaea;
  @include media.breakpoint(mobile) {
    padding: 0;
    display: contents;
    border: none;
  }
}

.page-footer__contacts {
  grid-column: 1 / 7;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;

  @include media.breakpoint(mobile) {
    gap: 4rem;
    padding: 4rem 0;
    border-top: 1px solid #eaeaea;
  }
}

.page-footer__schedule {
  font-size: 2rem;
  font-style: normal;
  font-weight: 900;
  line-height: 120%;
  letter-spacing: -0.02rem;
  text-transform: uppercase;
  @include media.breakpoint(mobile) {
    font-size: 2rem;
    font-style: normal;
    font-weight: 900;
    line-height: 120%;
    letter-spacing: -0.02rem;
    text-transform: uppercase;
  }
}

.page-footer__contacts-list {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  align-items: flex-end;
  @include media.breakpoint(mobile) {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 4rem;
  }
}

.page-footer__contacts-card {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  @include media.breakpoint(mobile) {
    gap: 1.8rem;
  }
}

.page-footer__contacts-card-key {
  font-size: 2rem;
  font-style: normal;
  font-weight: 900;
  line-height: 100%;
  letter-spacing: -0.02rem;
  text-transform: uppercase;
  @include media.breakpoint(mobile) {
    font-size: 2rem;
    font-style: normal;
    font-weight: 900;
    line-height: 100%;
    letter-spacing: -0.02rem;
    text-transform: uppercase;
  }
}

.page-footer__contacts-card-value {
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 900;
  line-height: 100%;
  letter-spacing: -0.015rem;
  text-transform: uppercase;
  color: var(--green-300);
}

.page-footer__nav {
  grid-column: 7 / -1;

  @include media.breakpoint(mobile) {
    padding: 4rem 0;
    border-top: 1px solid #eaeaea;
  }
}

.page-footer__nav-list {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 2.4rem;
}

.page-footer__nav-link {
  display: block;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  letter-spacing: -0.03rem;
  text-transform: uppercase;
}

.page-footer__version {
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-decoration-skip-ink: none;
  text-underline-offset: 1px;
  gap: 2rem;
  display: flex;
  align-items: center;
  transition:
    color 0.2s,
    text-decoration-color 0.2s;
  margin-bottom: 2rem;

  @include media.breakpoint(mobile) {
    margin-bottom: 4rem;
  }
  svg {
    flex-shrink: 0;
    width: 1.7208rem;
    height: 1.0791rem;
    fill: currentColor;
  }
}
