@use "utils";
@use "media";

.patients {
  @include utils.blockWrapper;
  padding-bottom: 4rem;
  padding-top: 8rem;
  background-color: #eaeaea;

  @include media.breakpoint(mobile) {
    padding-top: 6rem;
    padding-bottom: 0;
  }
}

.patients__content {
  @include utils.blockContent;
  display: flex;
  flex-direction: column;
}

.patients__heading {
  margin-top: 4rem;
  &:first-child {
    margin-top: 0;
  }
  @include media.breakpoint(mobile) {
    margin-top: 1.5rem;
  }
}

.patients__slider {
  margin-top: 12rem;
  @include media.breakpoint(mobile) {
    margin-top: 4rem;
  }
}

.patients__slider-top-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 3.2rem;
  margin-bottom: 4rem;
}

.patients__slider-title {
  font-size: 2rem;
  font-style: normal;
  font-weight: 900;
  line-height: 120%;
  letter-spacing: -0.02rem;
  color: #111;
  text-transform: uppercase;
  @include media.breakpoint(mobile) {
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 900;
    line-height: 120%;
    letter-spacing: -0.015rem;
    text-transform: uppercase;
  }
}

.patients__slider-wrapper {
  .swiper-slide {
    display: flex;
    flex-direction: column;
    height: auto;
    box-sizing: border-box;
    width: 25%;

    @include media.breakpoint(mobile) {
      width: 18.7rem;
    }
  }
}
