<a href="{{#if href}}{{href}}{{else}}#{{/if}}" class="blog-card{{#if modClass}} {{modClass}}{{/if}}">
    {{#if imageDesktop}}
    <div class="blog-card__bg">
        <img src="{{imageDesktop}}" alt="{{#if imageAlt}}{{imageAlt}}{{else}}{{title}}{{/if}}">
    </div>
    {{/if}}

    {{#if isMedia}}
    {{#if showPlay}}
    <div class="blog-card__play" aria-hidden="true">
        <svg width="32" height="32" aria-hidden="true">
            <use xlink:href="#play"></use>
        </svg>
    </div>
    {{/if}}
    {{else}}
    <div class="blog-card__content">
        {{#if tag}}
        <div class="blog-card__tags">
            <div class="blog-card__tag">
                {{tag}}
            </div>
        </div>
        {{/if}}

        {{#if title}}
        <h3 class="h3 blog-card__title">
            {{title}}
        </h3>
        {{/if}}

        <div class="blog-card__bottom">
            {{#if description}}
            <div class="blog-card__desc">
                {{description}}
            </div>
            {{/if}}

            {{#if showButton}}
            <div class="large-btn blog-card__btn">
                <span class="blog-card__btn-text">
                    {{#if buttonText}}{{buttonText}}{{else}}Читать{{/if}}
                </span>
                <svg class="blog-card__btn-icon" width="13" height="13" viewBox="0 0 13 13" aria-hidden="true">
                    <path d="M12.5605 11.5H9.56055V5.12109L2.12109 12.5605L0 10.4395L7.43945 3H1.06055V0H12.5605V11.5Z" />
                </svg>
            </div>
            {{/if}}
        </div>
    </div>
    {{/if}}
</a>
