<div class="city-select-modal js-modal" id="city-select-modal" aria-hidden="true" data-lenis-prevent>
    <div class="city-select-modal__inner" role="dialog" aria-modal="true" aria-labelledby="city-select-modal-title">
        <button class="city-select-modal__close js-modal-close" type="button" aria-label="Закрыть окно">
            <svg width="15" height="15" aria-hidden="true">
                <use xlink:href="#modal-close"></use>
            </svg>
        </button>

        <div class="city-select-modal__content" data-city-select-root>
            <h2 class="city-select-modal__title" id="city-select-modal-title">
                Выберите свой город
            </h2>

            <label class="city-select-modal__search">
                <input class="city-select-modal__search-input" type="search" name="city-search" autocomplete="off"
                    placeholder="Поиск города" aria-label="Поиск города" data-city-search-input>
                <span class="city-select-modal__search-icon" aria-hidden="true">
                    <svg width="25" height="25">
                        <use xlink:href="#search"></use>
                    </svg>
                </span>
            </label>

            {{> components/city-select-cities }}
        </div>
    </div>
</div>
