<div class="city-select-modal__cities" data-city-search-scroll>
    <div class="city-select-modal__cities-layout">
        <div class="city-select-modal__featured city-select-modal__featured--sticky" data-city-featured-column>
            <ul class="city-select-modal__featured-list">
                <li>
                    <a class="city-select-modal__city city-select-modal__city--featured" href="/"
                        data-city-name="Москва">
                        Москва
                    </a>
                </li>
                <li>
                    <a class="city-select-modal__city city-select-modal__city--featured" href="/"
                        data-city-name="Краснодар">
                        Краснодар
                    </a>
                </li>
                <li>
                    <a class="city-select-modal__city city-select-modal__city--featured" href="/"
                        data-city-name="Ессентуки">
                        Ессентуки
                    </a>
                </li>
                <li>
                    <a class="city-select-modal__city city-select-modal__city--featured" href="/"
                        data-city-name="Махачкала">
                        Махачкала
                    </a>
                </li>
                <li>
                    <a class="city-select-modal__city city-select-modal__city--featured" href="/"
                        data-city-name="Пермь">
                        Пермь
                    </a>
                </li>
            </ul>
        </div>

        <div class="city-select-modal__masonry" data-city-masonry>
            <section class="city-select-modal__group" data-city-letter-group>
                <h3 class="city-select-modal__group-title">А</h3>
                <ul class="city-select-modal__group-list">
                    <li>
                        <a class="city-select-modal__city" href="/" data-city-name="Анапа">Анапа</a>
                    </li>
                    <li>
                        <a class="city-select-modal__city" href="/" data-city-name="Армавир">Армавир</a>
                    </li>
                </ul>
            </section>
            <section class="city-select-modal__group" data-city-letter-group>
                <h3 class="city-select-modal__group-title">Б</h3>
                <ul class="city-select-modal__group-list">
                    <li>
                        <a class="city-select-modal__city" href="/"
                            data-city-name="Березники">Березники</a>
                    </li>
                </ul>
            </section>
            <section class="city-select-modal__group" data-city-letter-group>
                <h3 class="city-select-modal__group-title">Г</h3>
                <ul class="city-select-modal__group-list">
                    <li>
                        <a class="city-select-modal__city" href="/"
                            data-city-name="Георгиевск">Георгиевск</a>
                    </li>
                    <li>
                        <a class="city-select-modal__city" href="/" data-city-name="Горячий ключ">Горячий
                            ключ</a>
                    </li>
                </ul>
            </section>
            <section class="city-select-modal__group" data-city-letter-group>
                <h3 class="city-select-modal__group-title">Е</h3>
                <ul class="city-select-modal__group-list">
                    <li>
                        <a class="city-select-modal__city" href="/" data-city-name="Ейск">Ейск</a>
                    </li>
                </ul>
            </section>
            <section class="city-select-modal__group" data-city-letter-group>
                <h3 class="city-select-modal__group-title">К</h3>
                <ul class="city-select-modal__group-list">
                    <li>
                        <a class="city-select-modal__city" href="/"
                            data-city-name="Кропоткин">Кропоткин</a>
                    </li>
                    <li>
                        <a class="city-select-modal__city" href="/" data-city-name="Крымск">Крымск</a>
                    </li>
                </ul>
            </section>
            <section class="city-select-modal__group" data-city-letter-group>
                <h3 class="city-select-modal__group-title">М</h3>
                <ul class="city-select-modal__group-list">
                    <li>
                        <a class="city-select-modal__city" href="/" data-city-name="Майкоп">Майкоп</a>
                    </li>
                    <li>
                        <a class="city-select-modal__city" href="/" data-city-name="Минеральные воды">
                            Минеральные<br>воды
                        </a>
                    </li>
                    <li>
                        <a class="city-select-modal__city" href="/" data-city-name="Моздок">Моздок</a>
                    </li>
                </ul>
            </section>
            <section class="city-select-modal__group" data-city-letter-group>
                <h3 class="city-select-modal__group-title">П</h3>
                <ul class="city-select-modal__group-list">
                    <li>
                        <a class="city-select-modal__city" href="/"
                            data-city-name="Пятигорск">Пятигорск</a>
                    </li>
                </ul>
            </section>
            <section class="city-select-modal__group" data-city-letter-group>
                <h3 class="city-select-modal__group-title">С</h3>
                <ul class="city-select-modal__group-list">
                    <li>
                        <a class="city-select-modal__city" href="/" data-city-name="Славянск-на-Кубани">
                            Славянск-на-<br>Кубани
                        </a>
                    </li>
                    <li>
                        <a class="city-select-modal__city" href="/"
                            data-city-name="Соликамск">Соликамск</a>
                    </li>
                    <li>
                        <a class="city-select-modal__city" href="/" data-city-name="Сочи">Сочи</a>
                    </li>
                </ul>
            </section>
            <section class="city-select-modal__group" data-city-letter-group>
                <h3 class="city-select-modal__group-title">Т</h3>
                <ul class="city-select-modal__group-list">
                    <li>
                        <a class="city-select-modal__city" href="/" data-city-name="Темрюк">Темрюк</a>
                    </li>
                    <li>
                        <a class="city-select-modal__city" href="/"
                            data-city-name="Тимашевск">Тимашевск</a>
                    </li>
                </ul>
            </section>
        </div>
    </div>
    <p class="city-select-modal__empty" hidden data-city-search-empty>
        Ничего не найдено
    </p>
</div>
