<a href="{{#if href}}{{href}}{{else}}#{{/if}}" class="clinic-service-card">
    <div class="clinic-service-card__bg">
        <img src="{{bgImage}}" alt="{{#if bgImageAlt}}{{bgImageAlt}}{{/if}}">
    </div>
    <div class="clinic-service-card__top">
        <div class="clinic-service-card__doctors">
            {{#each doctors}}
            <div class="clinic-service-card__doctor">
                <img src="{{src}}" alt="{{#if alt}}{{alt}}{{/if}}">
            </div>
            {{/each}}
        </div>
        <div class="clinic-service-card__price">
            {{price}}
        </div>
    </div>
    <h3 class="clinic-service-card__title">
        {{title}}
    </h3>
    <div class="clinic-service-card__bottom">
        <div class="clinic-service-card__desc">
            {{description}}
        </div>
        <div class="large-btn clinic-service-card__btn">
            {{#if buttonText}}{{buttonText}}{{else}}Записаться{{/if}}
        </div>
    </div>
</a>
