<a href="#" class="video-preview">
    <div class="video-preview__bg">
        <picture>
            <source srcset="/images/about-clinic/preview-mobile.webp" media="(max-width: 640px)" />
            <img src="/images/about-clinic/preview.webp" alt="">
        </picture>
    </div>
    <div class="video-preview__info">
        <div class="video-preview__play">
            <svg width="14" height="14" aria-hidden="true">
                <use xlink:href="#play"></use>
            </svg>
        </div>
        <div class="video-preview__text">
            <div class="video-preview__title">
                ролик о&nbsp;нашем<br> подходе к&nbsp;работе
            </div>
            <div class="video-preview__duration">
                00:50
            </div>
        </div>
    </div>
</a>
